<template>
  <v-app>
    <NavBar v-if="this.$route.path !== '/'"/>
    <v-content>
      <router-view v-if="this.$route.path !== '/'" style="padding-top:90px" />
      <SpeedDial v-if="this.$route.path !== '/'" />
      <Footer v-if="this.$route.path !== '/'" />
      <router-view v-else />
    </v-content >
  </v-app>
</template>

<script>
import store from './store'
import NavBar from '@/components/Navbar'
import SpeedDial from '@/components/SpeedDial'
import Footer from '@/components/Footer'
import Constant from '@/Constant'

export default {
  name: 'App',
  components: {
    NavBar,
    SpeedDial,
    Footer,
  },
  store,
  methods : {

  },
  data: () => ({

  }),
  created() {
      this.$store.dispatch(Constant.GET_KEYWORDS);
      this.$store.dispatch(Constant.GET_CATEGORIES);
  }
}

  
</script>

<style>
  @import './assets/material-cards.css';
#create .v-speed-dial {
    position: absolute
}

#create .v-btn--floating {
  position: relative
}
  *{
   font-family: 'jua' 
  }
</style>
