<template>
  <div>
    <v-layout row wrap>
      <v-flex v-for="(i,index) in dashboards" xs12 sm6 md4 lg3 xl2 :key="index"  >
        <Dashboard 
          :post_no="i.post_no"
          :title="i.title"
          :content="i.content"
          :file_name="i.file_name"
          :reg_date="i.reg_date"
          :likes="i.likes"
          :user_email="i.user_email"
          :file_type="i.file_type"
        ></Dashboard>
        <v-divider></v-divider>
      </v-flex>
    </v-layout>
    <infinite-loading
      @infinite="infiniteHandler"
      spinner="waveDots"
    >
      <!-- <div slot="spinner">게시글 로딩중</div> -->
      <div slot="no-more">남은 게시글이 없습니다</div>
      <!-- <div slot="no-results">No results message</div> -->
    </infinite-loading>
  </div>
</template>
<script>
import Dashboard from '@/components/Dashboard/Dashboard'
import http from '@/services/http-common'
import Constant from '@/Constant';
import InfiniteLoading from 'vue-infinite-loading'
import axios from 'axios';

export default {
  name: 'pracice',
  components: {
    Dashboard,
    InfiniteLoading
  },
  data() {
    return {
      limit: 0
    };
  },
  computed: {
    dashboards() {
      return this.$store.state.dashboards;
    }
  },
  created($state) {
    this.$store.state.dashboards = [];
    this.$store.dispatch(Constant.GET_DASHBOARDS_LIMIT, {limit:this.limit} );
  },
  methods: {
    infiniteHandler($state) {
      this.$store.dispatch(Constant.GET_DASHBOARDS_LIMIT, {limit:this.limit+10} )
      .then(() => {
        setTimeout(() => {
          var dash = this.$store.state.dashboards;
          if(dash.length) {
            $state.loaded();
            this.limit += 10;
            if(dash.length%10 != 0) {
              $state.complete();
            }
          } else {
            $state.complete();
          }
        }, 2000)
      }).catch(err => {
      })
    }
  },
};

</script>


