<!-- calendar origin-->

<template>
  <div>
    <v-row class="fill-height">
      <v-col>
        <v-sheet height="64">
          <v-toolbar flat color="white">
            <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">Today</v-btn>
            <v-btn fab text small color="grey darken-2" @click="prev">
              <v-icon small>mdi-chevron-left</v-icon>
            </v-btn>
            <v-btn fab text small color="grey darken-2" @click="next">
              <v-icon small>mdi-chevron-right</v-icon>
            </v-btn>
            <v-toolbar-title>{{ titleDate }}</v-toolbar-title>
            <v-spacer></v-spacer>

            <v-btn @click="show = !show" text>{{ show ? '달력 숨기기' : '달력 열기' }}</v-btn>
            <v-btn icon @click="show = !show">
              <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
          </v-toolbar>
        </v-sheet>
        <!--달력-->
        <v-expand-transition>
          <div v-show="show">
            <v-divider></v-divider>
            <v-sheet height="600" class="center">
              <v-calendar
                ref="calendar"
                v-model="focus"
                color="primary"
                :events="events"
                :event-color="getEventColor"
                :now="today"
                :type="type"
                @click:event="SearchbyKeyword"
                @click:date="SearchbyDate"
                @change="getEvents"
              ></v-calendar>
            </v-sheet>
          </div>
        </v-expand-transition>
      </v-col>
    </v-row>

    <!-- 날짜 클릭시 화면 -->
    <v-card v-if="clickdate">
    <v-container>
      <v-tabs background-color="white" color="deep-purple accent-4" v-model="tabs" centered>
        <v-tab>Daily</v-tab>
        <v-tab>Weekly</v-tab>
        <v-tab>Monthly</v-tab>
      </v-tabs>

      <v-tabs-items v-model="tabs">
        <v-tab-item>
          <v-card flat>
            <v-card-title class="keywordTitle">{{this.DKeyword}}</v-card-title>
            <v-layout row wrap>
              <!-- <div class="keywordTitle" v-if="this.keyword.length > 0">{{this.keyword[0].keyword}}</div> -->
              <v-flex v-for="(i,index) in Ddayevents" xs12 sm6 md4 lg3 xl2 :key="index" fluid>
                <Dashboard
                  :post_no="i.post_no"
                  :title="i.title"
                  :content="i.content"
                  :file_name="i.file_name"
                  :reg_date="i.reg_date"
                  :likes="i.likes"
                  :user_email="i.user_email"
                  :nickname="i.nickname"
                  :category="i.category"
                  :file_type="i.file_type"
                  :isFollowed="i.isFollowed"
                  :isLiked="i.isLiked"
                  :keyword="DKeyword"
                ></Dashboard>
              </v-flex>
            </v-layout>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-title class="keywordTitle">{{this.WKeyword}}</v-card-title>
                  <v-layout row wrap>
              <!-- <div class="keywordTitle" v-if="this.keyword.length > 0">{{this.keyword[0].keyword}}</div> -->
              <v-flex v-for="(i,index) in Wdayevents" xs12 sm6 md4 lg3 xl2 :key="index">
                <Dashboard
                  :post_no="i.post_no"
                  :title="i.title"
                  :content="i.content"
                  :file_name="i.file_name"
                  :reg_date="i.reg_date"
                  :likes="i.likes"
                  :user_email="i.user_email"
                  :nickname="i.nickname"
                  :category="i.category"
                  :file_type="i.file_type"
                  :isFollowed="i.isFollowed"
                  :isLiked="i.isLiked"
                  :keyword="WKeyword"
                ></Dashboard>
              </v-flex>
            </v-layout>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-title class="keywordTitle">{{this.MKeyword}}</v-card-title>
                   <v-layout row wrap>
              <!-- <div class="keywordTitle" v-if="this.keyword.length > 0">{{this.keyword[0].keyword}}</div> -->
              <v-flex v-for="(i,index) in Mdayevents" xs12 sm6 md4 lg3 xl2 :key="index">
                <Dashboard
                  :post_no="i.post_no"
                  :title="i.title"
                  :content="i.content"
                  :file_name="i.file_name"
                  :reg_date="i.reg_date"
                  :likes="i.likes"
                  :user_email="i.user_email"
                  :nickname="i.nickname"
                  :category="i.category"
                  :file_type="i.file_type"
                  :isFollowed="i.isFollowed"
                  :isLiked="i.isLiked"
                  :keyword="MKeyword"
                ></Dashboard>
              </v-flex>
            </v-layout>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-container>
    </v-card>

    <!-- keyword 클릭시 화면 -->
    <v-container v-if="clickKeyword">
      <div class="keywordTitle" v-if="this.keyword.length > 0">{{this.keyword[0].keyword}}</div>
      <v-layout row wrap>
        <v-flex v-for="(i,index) in post" xs12 sm6 md4 lg3 xl2 :key="index">
          <Dashboard
            :post_no="i.post_no"
            :title="i.title"
            :content="i.content"
            :file_name="i.file_name"
            :reg_date="i.reg_date"
            :likes="i.likes"
            :user_email="i.user_email"
            :nickname="i.nickname"
            :category="i.category"
            :file_type="i.file_type"
            :isFollowed="i.isFollowed"
            :isLiked="i.isLiked"
            :keyword="keyword[0].keyword"
          ></Dashboard>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>


<script>
import http from "@/services/http-common";
import Constant from "@/Constant";
import Dashboard from "./Dashboard";
import InfiniteLoading from "vue-infinite-loading";
import axios from "axios";
export default {
  name: "DashboardAll",
  components: {
    Dashboard
  },
  data (){
    return {
    today: new Date().toISOString().substr(0, 10),
    focus: "",
    type: "month",
    typeToLabel: {
      month: "Month",
      day: "Day"
    },
    start: null,
    end: null,

    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    events: [],
    PostAll: [],

    dayevents: [],
    Ddayevents:[],
    Wdayevents:[],
    Mdayevents:[],

    colors: ["", "orange lighten-1", "#EF9A9A","deep-purple lighten-2" ],
    //colors: ["", "#EF9A9A", "#26A69A", "#7E57C2"],

    currentlyEditing: null,

    keywordList: [],
    post: [],
    limit: 0,
    keyword: [],
    follow: [],
    likes: [],
    show: false,
    clickdate: true,
    clickKeyword: false,
    tabs: null,
    DKeyword:'',
    WKeyword:'',
    MKeyword:'',
    tempPost:[],
    tempKeyword: {},
  }},

  created() {
    this.postSearchAll();
    http
      .get("/keyword/searchAll")
      .then(response => {
        this.keywordList = response.data.data;
        this.getEvents(this.start, this.end);
        var word;
        if (this.$store.state.word) word = this.$store.state.word;

        //NavBar에서 단어 검색으로 dashboard 들어온 경우
        if (word) {
          this.searchWord(word);
        } else {
          //오늘 D,W,M 나오게 해야함
          this.SearchbyDate({date:this.$moment(new Date()).format("YYYY-MM-DD")});
        }
      })
      .catch(error => {
      });
  },

  computed: {
    dashboards() {
      return this.$store.state.dashboards;
    },
    titleDate() {
      const { start, end } = this;
      if (!start || !end) {
        return "";
      }
      const startMonth = this.monthFormatter(start);
      const endMonth = this.monthFormatter(end);
      const suffixMonth = startMonth === endMonth ? "" : endMonth;

      const startYear = start.year;
      const endYear = end.year;
      const suffixYear = startYear === endYear ? "" : endYear;

      const startDay = start.day + "일";
      const endDay = end.day + "일";

      switch (this.type) {
        case "month":
          return `${startMonth} ${startYear}년`;
        case "day":
          return `${startMonth} ${startDay} ${startYear}년`;
      }
      return "";
    },
    monthFormatter() {
      return this.$refs.calendar.getFormatter({
        timeZone: "UTC",
        month: "long"
      });
    }
  },
  mounted() {
    this.$refs.calendar.checkChange();
  },

  methods: {
    postSearchAll(){
      http.get('/post/searchAll').then(response => {
        this.PostAll = response.data.data;
      })
    },
    SearchbyDate({date}) {
      if(date<=this.$moment(new Date()).format("YYYY-MM-DD")){
        this.Ddayevents = Object.assign([], []);
        this.Wdayevents = Object.assign([], []);
        this.Mdayevents = Object.assign([], []);

        var keywords = [];
      
        http.get('/keyword/searchByTheDate/'+date)
        .then(response => {
            keywords = response.data.data;
              this.DKeyword = keywords[0].keyword;
              this.WKeyword = keywords[1].keyword;
              this.MKeyword = keywords[2].keyword;
            for (let i = 0; i < this.PostAll.length; i++) {
              if(this.PostAll[i].keyword_no == keywords[0].keyword_no){
                this.Ddayevents.push(this.PostAll[i]);
              }
              else if(this.PostAll[i].keyword_no == keywords[1].keyword_no){
                this.Wdayevents.push(this.PostAll[i]);
              }
              else if(this.PostAll[i].keyword_no == keywords[2].keyword_no){
                this.Mdayevents.push(this.PostAll[i]);
              }
            }
        })
        .catch(err => {
        })
        this.clickdate = true;
        this.clickKeyword=false;
      }
    },

    getEventColor(event) {
      return event.color;
    },
    setToday() {
      this.focus = this.today;
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },

    SearchbyKeyword({ nativeEvent, event }) {
      this.clickdate = false;
      this.clickKeyword = true;
      this.selectedEvent = event;
      http
        .get("/keyword/searchByKeyword_no/" + this.selectedEvent.id)
        .then(response => {
          this.keyword = response.data.data;
        });

      http
        .get("/post/searchbyKeyword/" + this.selectedEvent.id)
        .then(response => {
          this.post = response.data.data;
            })
            .catch(err => {
            });
    },

    searchWord(word){
      http.get("/keyword/searchByKeyword/" + word).then(response => {
        this.keyword = response.data.data;
            
          http
            .get("/post/searchbyKeyword/" + this.keyword[0].keyword_no)
            .then(response => {
              this.post = response.data.data;
              this.clickKeyword = true;
            });
          });
        this.$store.state.word = "";
        this.clickdate=false;
    },
    getEvents({ start, end }) {
      const events = [];
      const eventCount = this.keywordList.length;
      for (let i = 0; i < eventCount; i++) {
        if(this.keywordList[i].post_date<=this.$moment(new Date()).format("YYYY-MM-DD")){
        events.push({
          id: this.keywordList[i].keyword_no,
          name: this.keywordList[i].keyword,
          start: this.keywordList[i].post_date,
          end: this.keywordList[i].end_date,
          section: this.keywordList[i].section,
          color: this.colors[this.keywordList[i].section]
        });
      }
      }
      this.start = start;
      this.end = end;
      this.events = events;
    },

    formatDate(a, withTime) {
      return withTime
        ? `${a.getFullYear()}-${a.getMonth() +
            1}-${a.getDate()} ${a.getHours()}:${a.getMinutes()}`
        : `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()}`;
    }
  }
};
</script>




<style scoped>
.center{
  text-align: center;
}
.keywordTitle {
  text-align: center;
  font-size: 2vw;
}
</style>