<template>
  <section class="container">
    <div class="page-header">
      <h1>
        About Us
        <br />
        <small>코딩이 딱이지 맴버</small>
      </h1>
    </div>
    <div class="row active-with-click">
      <div class="col-md-4 col-sm-6 col-xs-12">
        
        <article class="material-card card4 Orange">
          <h2>
            <span>김혜희</span>
            <strong>
              <i class="fa fa-fw fa-star"></i>
              Mother
            </strong>
          </h2>
          <div class="mc-content">
            <div class="img-container">
              <!-- <img class="img-responsive" src="https://www.aseanexpress.co.kr/data/photos/20191145/art_15732508716907_bb3615.jpg"> -->
              <img
                class="img-responsive"
                src="https://firebasestorage.googleapis.com/v0/b/cre8or-2a293.appspot.com/o/hyehee.jpg?alt=media&token=ef2117ac-d98e-45fb-bc1c-5048468f8d66"
              />
            </div>
            <div class="mc-description">
              <b>관리자 페이지</b><br/>
              ㆍ회원/키워드 관리<br/>
              <b>마이 페이지</b><br/>
              ㆍ내 회원 정보 조회/수정<br/>
              ㆍ좋아하는 작품/즐겨찾는 작가 관리<br/>
              ㆍ즐겨찾는 작가 페이지로 이동<br/>
              <b>메인 페이지</b><br/>
              ㆍCarousel 키워드<br/>
            </div>
          </div>
          <button class="mc-btn-action btn4" @click="testclick4">
            <i class="fa fa-bars"></i>
          </button>
          <div class="mc-footer">
            <a class="fa fa-fw fa-facebook"></a>
            <a class="fa fa-fw fa-twitter"></a>
            <a class="fa fa-fw fa-linkedin"></a>
            <a class="fa fa-fw fa-google-plus"></a>
          </div>
        </article>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card card1 Indigo">
          <h2>
            <span>오석빈</span>
            <strong>
              <i class="fa fa-fw fa-star"></i>
              Server 그 자체
            </strong>
          </h2>
          <div class="mc-content">
            <div class="img-container">
              <img
                class="img-responsive"
                src="https://firebasestorage.googleapis.com/v0/b/cre8or-2a293.appspot.com/o/KakaoTalk_20191118_192332732.jpg?alt=media&token=5f9f7632-0725-4819-a51b-1bd5af0d1a5e"
              />
            </div>
            <div class="mc-description">
              <b>서버</b><br/>
              ㆍAWS/Firebase 빌드 및 배포<br/>
              <b>소셜</b><br/>
              ㆍ좋아요/즐겨찾기 적용<br/>
              <b>반응형 웹</b><br/>
              ㆍ기기 사이즈에 따른 반응형 웹 구현<br/>
              <b>Welcome 페이지</b><br/>
              ㆍWelcome 페이지 구축
            </div>
          </div>
          <button class="mc-btn-action btn1" @click="testclick1">
            <i class="fa fa-bars"></i>
          </button>
          <div class="mc-footer">
            <a class="fa fa-fw fa-facebook"></a>
            <a class="fa fa-fw fa-twitter"></a>
            <a class="fa fa-fw fa-linkedin"></a>
            <a class="fa fa-fw fa-google-plus"></a>
          </div>
        </article>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card card2 Pink">
          <h2>
            <span>이다경</span>
            <strong>
              <i class="fa fa-fw fa-star"></i>
              Mother of 작품page
            </strong>
          </h2>
          <div class="mc-content">
            <div class="img-container">
              <img
                class="img-responsive"
                src="https://firebasestorage.googleapis.com/v0/b/cre8or-2a293.appspot.com/o/%EC%9D%B4%EB%8B%A4%EA%B2%BD%20%EC%A6%9D%EB%AA%85%EC%82%AC%EC%A7%84.jpg?alt=media&token=214690bb-6d9a-4db9-9781-5b6eeef3008e"
              />
            </div>
            <div
              class="mc-description"
            >
              <b>☆★팀장님★☆</b><br/>
              ㆍ팀원 케어 및 프로젝트 매니징<br/>
              <b>작품 페이지</b><br/>
              ㆍ키워드 별/날짜 별 작품 조회 및 검색<br/>
              <b>파일 업로드</b><br/>
              ㆍFilepond 컴포넌트 적용<br/>
              <b>관리자 페이지</b><br/>
              ㆍ키워드 별 작품 통계<br/>
            </div>
          </div>
          <button class="mc-btn-action btn2" @click="testclick2">
            <i class="fa fa-bars"></i>
          </button>
          <div class="mc-footer">
            <a class="fa fa-fw fa-facebook"></a>
            <a class="fa fa-fw fa-twitter"></a>
            <a class="fa fa-fw fa-linkedin"></a>
            <a class="fa fa-fw fa-google-plus"></a>
          </div>
        </article>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card card5 Brown">
          <h2>
            <span>이은규</span>
            <strong>
              <i class="fa fa-fw fa-star"></i>
              Firebaser
            </strong>
          </h2>
          <div class="mc-content">
            <div class="img-container">
              <img
                class="img-responsive"
                src="https://firebasestorage.googleapis.com/v0/b/cre8or-2a293.appspot.com/o/%EC%A6%9D%EB%AA%85%EC%82%AC%EC%A7%84.jpg?alt=media&token=212ff0f7-440b-4035-9883-1b8bfc4939fc"
              />
            </div>
            <div class="mc-description">
              <b>회원가입</b><br/>
              ㆍFirebase와 MySQL로 회원 가입 처리<br/>
              <b>로그인/소셜로그인</b><br/>
              ㆍFirebase를 이용한 이메일/소셜 로그인<br/>
              <b>파일 업로드</b><br/>
              ㆍFirestore를 이용한 파일 업로드<br/>
              <b>작품 CRUD</b><br/>
              ㆍ작품 등록/수정/삭제
            </div>
          </div>
          <button class="mc-btn-action btn5" @click="testclick5">
            <i class="fa fa-bars"></i>
          </button>
          <div class="mc-footer">
            <a class="fa fa-fw fa-facebook"></a>
            <a class="fa fa-fw fa-twitter"></a>
            <a class="fa fa-fw fa-linkedin"></a>
            <a class="fa fa-fw fa-google-plus"></a>
          </div>
        </article>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card card3 Green">
          <h2>
            <span>임우섭</span>
            <strong>
              <i class="fa fa-fw fa-star"></i>
              임Modal
            </strong>
          </h2>
          <div class="mc-content">
            <div class="img-container">
              <img
                class="img-responsive"
                src="https://firebasestorage.googleapis.com/v0/b/cre8or-2a293.appspot.com/o/%EC%9E%84%EC%9A%B0%EC%84%AD.jpg?alt=media&token=b493fd3c-a836-4ea8-8f98-e32b18574608"
              />
            </div>
            <div
              class="mc-description"
            >
              <b>마이페이지</b><br/>
              ㆍ마이페이지 Frame 구축<br/>
              <b>CSS</b><br/>
              ㆍModal 컴포넌트 적용<br/>
              ㆍCSS 테마 통일<br/>
              <b>권한 설정</b><br/>
              ㆍ권한에 따른 페이지 접근 제한<br/>
              ㆍVue-Router, Vuex 활용<br/>
            </div>
          </div>
          <button class="mc-btn-action btn3" @click="testclick3">
            <i class="fa fa-bars"></i>
          </button>
          <div class="mc-footer">
            <a class="fa fa-fw fa-facebook"></a>
            <a class="fa fa-fw fa-twitter"></a>
            <a class="fa fa-fw fa-linkedin"></a>
            <a class="fa fa-fw fa-google-plus"></a>
          </div>
        </article>
      </div>
    </div>
  </section>
</template>


<script>
export default {
  methods: {
    testclick1() {
      var card = $(".card1 > .btn1").parent(".card1");
      var icon = $(".card1 > .btn1").children("i");

      icon.addClass("fa-spin-fast");

      if (card.hasClass("mc-active")) {
        card.removeClass("mc-active");

        window.setTimeout(function() {
          icon
            .removeClass("fa-arrow-left")
            .removeClass("fa-spin-fast")
            .addClass("fa-bars");
        }, 800);
      } else {
        card.addClass("mc-active");

        window.setTimeout(function() {
          icon
            .removeClass("fa-bars")
            .removeClass("fa-spin-fast")
            .addClass("fa-arrow-left");
        }, 800);
      }
    },
    testclick2() {
      var card = $(".card2 > .btn2").parent(".card2");
      var icon = $(".card2 > .btn2").children("i");

      icon.addClass("fa-spin-fast");

      if (card.hasClass("mc-active")) {
        card.removeClass("mc-active");

        window.setTimeout(function() {
          icon
            .removeClass("fa-arrow-left")
            .removeClass("fa-spin-fast")
            .addClass("fa-bars");
        }, 800);
      } else {
        card.addClass("mc-active");

        window.setTimeout(function() {
          icon
            .removeClass("fa-bars")
            .removeClass("fa-spin-fast")
            .addClass("fa-arrow-left");
        }, 800);
      }
    },
    testclick3() {
      var card = $(".card3 > .btn3").parent(".card3");
      var icon = $(".card3 > .btn3").children("i");

      icon.addClass("fa-spin-fast");

      if (card.hasClass("mc-active")) {
        card.removeClass("mc-active");

        window.setTimeout(function() {
          icon
            .removeClass("fa-arrow-left")
            .removeClass("fa-spin-fast")
            .addClass("fa-bars");
        }, 800);
      } else {
        card.addClass("mc-active");

        window.setTimeout(function() {
          icon
            .removeClass("fa-bars")
            .removeClass("fa-spin-fast")
            .addClass("fa-arrow-left");
        }, 800);
      }
    },
     testclick4() {
      var card = $(".card4 > .btn4").parent(".card4");
      var icon = $(".card4 > .btn4").children("i");

      icon.addClass("fa-spin-fast");

      if (card.hasClass("mc-active")) {
        card.removeClass("mc-active");

        window.setTimeout(function() {
          icon
            .removeClass("fa-arrow-left")
            .removeClass("fa-spin-fast")
            .addClass("fa-bars");
        }, 800);
      } else {
        card.addClass("mc-active");

        window.setTimeout(function() {
          icon
            .removeClass("fa-bars")
            .removeClass("fa-spin-fast")
            .addClass("fa-arrow-left");
        }, 800);
      }
    },
    testclick5() {
      var card = $(".card5 > .btn5").parent(".card5");
      var icon = $(".card5 > .btn5").children("i");

      icon.addClass("fa-spin-fast");

      if (card.hasClass("mc-active")) {
        card.removeClass("mc-active");

        window.setTimeout(function() {
          icon
            .removeClass("fa-arrow-left")
            .removeClass("fa-spin-fast")
            .addClass("fa-bars");
        }, 800);
      } else {
        card.addClass("mc-active");

        window.setTimeout(function() {
          icon
            .removeClass("fa-bars")
            .removeClass("fa-spin-fast")
            .addClass("fa-arrow-left");
        }, 800);
      }
    }
  }
};
</script>
<style >
</style>