<template>
  <v-row >
    <v-col cols="11">
      <div class="commentWriter">{{comment.nickname}} {{comment.reg_date}}</div>      
      <v-text-field
        v-model="comment.content"
        readonly
        v-if="readonly"
      />
      <v-text-field
        v-model="comment.content"
        v-if="!readonly"
      />
    </v-col>
    <v-col cols="1"
      v-if="
        this.$session.get('user') &&
        user_email==this.$session.get('user').email
      "
    >
      <button>
        <v-icon color="blue" v-if="pencil" @click="goCheck">mdi-pencil</v-icon>
      </button>
      <button>
        <v-icon color="blue" v-if="check" @click="editComment">mdi-check</v-icon>
      </button>
      <button>
        <v-icon color="red" @click="deleteComment">mdi-delete</v-icon>
      </button>
    </v-col>
  </v-row>
</template>

<script>
import Constant from '@/Constant'

export default {
  name: "comments",
  props: {
    comment_no: {type: Number},
    content: { type: String },
    post_no: { type: Number },
    reg_date: { type: String },
    user_email: { type: String },
    nickname: { type: String },
  },
  data() {
    return {
      pencil: true,
      check: false,
      readonly: true,
      comment: {
        comment_no: this.comment_no,
        content: this.content,
        post_no: this.post_no,
        reg_date: this.getDate(this.reg_date),
        user_email: this.user_email,
        nickname: this.nickname,
      }
    }
  },
  methods: {
    goCheck() {
      this.pencil = false;
      this.check = true;
      this.readonly = false;
    },
    editComment() {
      this.check = false;
      this.pencil = true;
      this.readonly = true;
      this.$store.dispatch(Constant.EDIT_COMMENT, {
        comment_no: this.comment_no,
        content: this.comment.content
      })
      // .then(() => {
      //   this.getComments();
      // })
    },
    deleteComment() {
      this.$store.dispatch(Constant.DELETE_COMMENT, {
        comment_no: this.comment_no
      })
      .then(() => {
        this.$emit('deleteComment');
      })
    },
    getDate(reg_date) {
      return reg_date;
    }
  },
  computed: {
    param: function () {
        return this.$route.params;
    }
  }
};
</script>
<style lang="scss" scoped>
.color-666 {
  color: #666;
}
.color-333 {
  color: #333;
}
.h-100 {
  height: 100%;
}

#title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}
.v-dialog > .v-card > .v-app-bar {
  position: sticky;
  top: 0;
  z-index: 999;
}
.commentWriter {
  text-align-last: right;
  font-size: 80%;
}
</style>
