<template>
  <v-footer color="dark" padless class="secondary-text pt-0" >
    <v-col class="bg-dark lighten-2 py-4 text-center text-secondary" cols="12">
      <v-row justify="center" no-gutters>
        <v-btn  text color="white" to="/aboutus" style="text-decoration:none; ">
          About us
        </v-btn>
            <policy  small color="white" ></policy>
       
      </v-row >
      <v-row  justify="center" no-gutters>
        (주)멀티캠퍼스 서울특별시 강남구 언주로 508 10-17층(역삼동, 서울상록빌딩) 
      </v-row>
      <v-row  justify="center" no-gutters>
        고객센터 02-3429-5041 평일 상담시간 : 09:00 ~ 18:00 
      </v-row>
      <v-row  justify="center" no-gutters>
        @{{ new Date().getFullYear() }} — <strong>Copyright by 코딩이 딱이지 Co., Ltd. All rights reserved. </strong>
      </v-row>
    </v-col>
  </v-footer>
</template>

<script>
import policy from '@/components/Policy'
export default {
   components :{
       policy,
   }
}

</script>

<style>

</style>