<template>
  <v-container>
    <v-layout row wrap>
  
    <v-carousel v-model="model" cycle interval="3000" height="600">
      <v-carousel-item
        v-for="(keyword,i) in keywords"
        :key="i"
        :src="keyword.img"
        reverse-transition="fade-transition"
        transition="fade-transition"
        interval="2000"
      >
        <v-row
          class="fill-height"
          align="center"
          justify="center"
        >
          <div style="background-color: rgba( 255, 255, 255, 0.8 );">
           <p class="text" style="font-size: 24px;">{{date}}<br>남은시간 {{dtime[i]}} </p>
            <p class="text" style="font-size: 12vh;">{{keyword.keyword}}</p>
            <p class="text" style="font-size: 24px;">{{types[i]}}</p>
          </div>
        </v-row>
      </v-carousel-item>
    </v-carousel>
    </v-layout>
  </v-container>
</template>

<script>
import Constant from '../Constant'
export default {
  data () {
    return {
      date: '',
      time: '',
      model: 0,
      dtime :['','',''],
      types: ['Daily','Weekly','Monthly']
    }
  },
  created() {
  },
  computed: {
    keywords() {
        return this.$store.state.keywords;
    }
  },
  methods: {
    onEverySecond: function () {
      var week = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'];
      var cd = new Date()
      var lastDay = new Date(cd.getFullYear(), cd.getMonth() + 1, 0).toString()
      var lastHour = 23-this.zeroPadding(cd.getHours(), 2) < 10 ? '0' + String(23-this.zeroPadding(cd.getHours(), 2)) :23-this.zeroPadding(cd.getHours(), 2)
      var lastMin = 59- this.zeroPadding(cd.getMinutes(), 2) > 10 ? '0' +  59- this.zeroPadding(cd.getMinutes(), 2) :59- this.zeroPadding(cd.getMinutes(), 2)
      var lastSec = 59- this.zeroPadding(cd.getSeconds(), 2) < 10 ? '0' +  (59- this.zeroPadding(cd.getSeconds(), 2)) : 59- this.zeroPadding(cd.getSeconds(), 2)
      lastDay =lastDay.substring(8,10) *1-this.zeroPadding(cd.getDate(), 2)*1;
      this.date = this.zeroPadding(cd.getFullYear(), 4) + '-' + this.zeroPadding(cd.getMonth()+1, 2) + '-' + this.zeroPadding(cd.getDate(), 2) + ' ' + week[cd.getDay()];
      this.dtime[2] = lastDay+ '일 ' +  lastHour  + ':' + lastMin + ':' +lastSec;
      this.dtime[1] = (lastDay%7)+ '일 ' +  lastHour  + ':' + lastMin + ':' +lastSec;
      this.dtime[0] = lastHour  + ':' + lastMin + ':' +lastSec;
      setTimeout(this.onEverySecond, 1000)
    },
    zeroPadding(num, digit) {
      var zero = '';
      for(var i = 0; i < digit; i++) {
          zero += '0';
      }
      return (zero + num).slice(-digit);
    }
  },
  mounted: function () {
    this.onEverySecond()
  },
}
</script>

<style scoped>
/* @import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap'); */
html, body {
  height: 100%;
}

.clock {
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: 100%;
}

p {
  margin: 0;
  padding: 0;
}

#carousel-1 {
  /*
  font-family: 'Kirang Haerang', cursive;
  font-family: 'Share Tech Mono', monospace;
  font-family: 'Yeon Sung', cursive;
  font-family: 'Do Hyeon', sans-serif;
  */
  font-family: 'Jua', sans-serif;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}

.text {
  text-align: center;
  font-size: 110px;
  font-family: 'Jua', sans-serif;
  background-image: linear-gradient(to right,  #16d6d9, #96cc29); 
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color:#fff;
  background-clip:text; 
  position:relative;

  border-style: solid;
  
}

</style>