<template>
  <v-app-bar
    class="scroll-touch"
    style="overflow-x: scroll; display: relative; z-index:100;"
    color="white"
    height="80vw"
    flat
    fixed
  >    
    <button exact text style="text-decoration:none; outline:0;" ><v-toolbar-title @click="home" style="font-size: 32px">Cre8or</v-toolbar-title></button>
    <v-toolbar-items>
      <v-btn :to="{ name: 'home' }" x-large exact text style="text-decoration:none">홈</v-btn>
      <v-btn :to="{ name: 'dashboard' }" x-large exact text style="text-decoration:none">작품</v-btn>
      <v-btn v-if="userLogined" @click="toMyPage" x-large exact text style="text-decoration:none">마이페이지</v-btn>
      <v-btn v-if="onlyAdminUser" :to="{ name: 'admin' }" x-large exact text style="text-decoration:none">관리자</v-btn>
      <v-menu
        v-model="menu"
        :close-on-content-click="false"
        :nudge-width="50" 
        offset-y
        
      >
        <template v-slot:activator="{ on }">  
          <v-btn v-on="on" exact icon class="d-flex d-sm-none">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
        </template>
  
        <v-card>
          <v-list>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>더 보러 가기</v-list-item-title>
                <v-list-item-subtitle>Cre8or의 더 많은 작품을 볼 수 있습니다.</v-list-item-subtitle>
                <v-text-field
                  prepend-inner-icon="mdi-magnify"
                  v-model="message"
                  @keyup.enter="sendMessage"
                  color= "success"
                  clearable
                  :append-icon="'mdi-send'"
                />
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="menu = false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </v-toolbar-items>
    <v-spacer />
    <v-col cols="4" class="d-none d-sm-flex">
      <!-- 웹 화면에서 검색창 -->
      <!-- solo-inverted: 포커스 되지 않은 요소의 불투명도를 낮춤 -->
      <!-- clearable: x 아이콘 생성. 누르면 input창 입력값을 지워줌 -->
      <!-- hide-details: 힌트 및 유효성 검사 오류를 숨김. auto로 설정하면 input값이 있는 경우에만 렌더링 -->
      <v-text-field
        outlined
        label="Search Keywords"
        prepend-inner-icon="mdi-magnify"
        rounded
        v-model="message"
        @keyup.enter="sendMessage"
        hide-details="auto"
        color= "success"
        clearable
        dense
        placeholder="더 보러 가기"
      />
    </v-col>
  </v-app-bar>
</template>

<script>
import Constant from '@/Constant'

  export default {
    components: {
    },
    props: {
      source: String,
    },
    data: () => ({
      hidden: true,
      message: '',
      menu: false,
      rules: [
        value => !!value || 'Required.', 
      ]
    }),
    created() {
      var user = this.$session.get('user');
      if(user != null) this.$store.dispatch(Constant.GET_USER, { email: user.email });
    },
    computed: {
      userLogined()  {
        const user = this.$session.get('user')
        if (user) {
          return true;
        }
        return false;
      },
      /// 관리자 계정 여부 검사
      onlyAdminUser() {
        if (this.$store.state.user.live === 'AD') {
          return true;
        }
        return false;
      },
    },
    methods: {
      home () {
        this.$router.push("/")
      },
      sendMessage () {
        this.$store.state.word = this.message;  
        this.message = ''
        this.$router.push("/dashboard");
      },
      toMyPage(){
        location.href = "/mypage"
      }
    }
  }
</script>

<style>

::-webkit-scrollbar {display:none;}
.scroll-touch {
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

v-app-bar{
  z-index: 100 !important;
}
</style>
