<template>
  <v-dialog v-model="dialog" width="600px">
      <template v-slot:activator="{ on }">
        <v-btn color="white" text dark v-on="on">이용 약관</v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">개인정보 동의</span>
        </v-card-title>
        <v-card-text>[필수] 개인정보 수집 및 이용 동의
(주)크레8이터는 아래의 목적으로 개인정보를 수집 및 이용하며, 회원의 개인정보를 안전하게 취급하는데 최선을 다합니다.

개인정보 수집 및 이용에 대한 안내
1. 목적 : 지원자 개인 식별, 지원의사 확인, 입사전형의 진행, 고지사항 전달, 입사 지원자와의 원활한 의사소통, 지원이력 확인 및 면접 불합격자 재지원 제한
2. 항목 : 아이디(이메일주소), 비밀번호, 이름, 생년월일, 휴대폰번호
3. 보유기간 : 회원 탈퇴 시까지 보유 (단, 지원이력 정보는 일방향 암호화하여 탈퇴일로부터 1년간 보관 후 파기합니다.)
동의


위 개인정보 수집에 대한 동의를 거부할 권리가 있으며, 동의 거부 시에는 지원자 등록이 제한될 수 있습니다.
더 자세한 내용에 대해서는 [크레8이터 기업사이트 개인정보처리방침]을 참고하시길 바랍니다.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">닫기</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>


<script>
  export default {
    data () {
      return {
        dialog: false,
      }
    },
  }
</script>