<template>
  <div>
    <v-speed-dial
      v-model="fab"
      dark
      fab
      bottom
      right
      fixed
      open-on-hover
      :direction="direction"
      :transition="transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="pink" dark fab>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-account-circle</v-icon>
        </v-btn>
      </template>
      <!-- 로그인 -->
      <v-btn v-if="!userLogined" fab dark small color="green" @click="loginDialog = !loginDialog">
        <v-icon>mdi-login</v-icon>
      </v-btn>
      <!-- 회원가입 -->
      <v-btn v-if="!userLogined" fab dark small color="blue" @click="signUpDialog = !signUpDialog">
        <v-icon>mdi-account-group</v-icon>
      </v-btn>
      <!-- 로그아웃 -->
      <v-btn v-if="userLogined" fab dark small color="red" @click="logout">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
      <!-- 글쓰기 -->
      <v-btn v-if="userLogined" fab dark small color="orange" @click="postDialog = !postDialog">
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
    </v-speed-dial>

    <!-- 로그인 -->
    <v-dialog id="loginDialog" v-model="loginDialog" width="500px">
      <LoginDialog v-on:close="loginDialog=false"/>
    </v-dialog>

    <!-- 회원가입 -->
    <v-dialog id="SignUpDialog" v-model="signUpDialog" width="800px">
      <SignUpDialog v-on:close="signUpDialog = false"/>
    </v-dialog>

    <!-- 글쓰기 -->
    <v-dialog id="postDialog" v-model="postDialog" width="800px">
      <PostDialog v-on:close="postDialog = false"/>
    </v-dialog>
  </div>
</template>


<script>
import firebase from "firebase";
import router from "vue-router";
import http from "@/services/http-common";
import Constant from "../Constant";
import LoginDialog from "./SpeedDialComponents/LoginDialog";
import SignUpDialog from "./SpeedDialComponents/SignUpDialog";
import PostDialog from "./SpeedDialComponents/PostDialog";
import MyPageDialog from "./SpeedDialComponents/MyPageDialog";

export default {
  components: {
    LoginDialog,
    SignUpDialog,
    PostDialog
  },
  props: {
    source: String
  },
  data: () => ({
    keywords: [],
    category: ["ca", "te", "gory"],
    direction: "top",
    loginDialog: false,
    signUpDialog: false,
    postDialog: false,
    hover: false,
    fab: false,
    transition: "slide-y-reverse-transition"
  }),
  computed: {
    activeFab() {
      switch (this.tabs) {
        case "one":
          return { class: "purple", icon: "account_circle" };
        case "two":
          return { class: "red", icon: "edit" };
        case "three":
          return { class: "green", icon: "keyboard_arrow_up" };
        default:
          return {};
      }
    },
    ////// 로그인 여부 검사
    userLogined() {
      var user = this.$session.get("user");
      if (user) {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {


    ////// 로그아웃
    logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          alert("로그아웃 완료!");
          this.$session.clear();
          this.$store.state.user = null;
          // window.sessionStorage.clear()
          // this.$router.replace('/')
          location.href='/';
        });
    }
  }
};
</script>

<style>
</style>
