<template>
  <v-container>
    <v-layout row wrap>
      <v-flex class="pa-1" style=" display: table;">
        <v-hover v-slot:default="{ hover }">
          <v-card 
            xs12 sm6 offset-sm3 
            class="mx-auto"
            color="grey lighten-4"
            max-width="600"
            @click="getComments(), getisLiked(), getisFollowed()"
            flat
          >
            <!-- @click="detailDialog=!detailDialog" -->
            <v-img
              v-if="file_type.includes('image')"
              :aspect-ratio="16/9"
              :src="file_name"
              class="mx-auto; my-auto"
            >

     <v-expand-transition>
                <div
                  v-if="hover"
                  class="d-flex transition-fast-in-fast-out black darken-1 v-card--reveal  white-- darken-2"
                  style="height: 100%;"
                >
                  <span class="keyword">{{keyword[0].keyword}}</span>
                  <br/>
                  {{category}}
                </div>
              </v-expand-transition>
            </v-img>
            <!-- 이미지 아닌 경우 -->
                    <v-img
              v-if="!file_type.includes('image')"
              :aspect-ratio="16/9"
              :src="'https://firebasestorage.googleapis.com/v0/b/cre8or-2a293.appspot.com/o/postdefualt.png?alt=media&token=fdc6b93c-77c8-4408-a00b-b90455327bca'"
              class="mx-auto; my-auto"
            >

              <v-expand-transition>
                <div
                  v-if="hover"
                  class="d-flex transition-fast-in-fast-out black darken-1 v-card--reveal  white-- darken-2"
                  style="height: 100%;"
                >
                  <span class="keyword"> {{keyword[0].keyword}} </span>
                  <br/>
                  {{category}}
                </div>
              </v-expand-transition>
            </v-img>
            <v-card-text
              class="pt-6"
              style="position: relative;"
            >
              <div id="dash-card-content" class="black--text " style="font-size:x-large">{{title}}</div>
              <div id="dash-card-content" class="grey--text">{{nickname}}</div>
            </v-card-text>
          </v-card>
        </v-hover>
      </v-flex>


      <!-- 게시물 디테일-->
      <v-dialog id="detailDialog" v-model="detailDialog" 
       max-width="700"  v-if="detailDialog"
      >
      
        <v-card>
          <v-app-bar style="opacity: 0.6; background-image: linear-gradient(to right,  #16d6d9, #96cc29);" flat>
            <h3 style="margin: 0;">{{ nickname }}</h3>
            <v-icon v-if="isFollowed"  @click="deleteFollow" color="yellow" size="40px">
              mdi-star
            </v-icon>
            <v-icon v-else @click="addFollow" size="24px">
              mdi-star
            </v-icon>
            <v-spacer />
            <hr>
            <v-card-actions>
              <v-icon large dark @click="detailDialog = false">
                mdi-close-circle-outline
              </v-icon>
            </v-card-actions>
          </v-app-bar>
          <v-container>
            <v-card-title class="justify-space-around" style="padding: 0; height:40px; line-heignt:40px;">
              <h3 style="color: black; text-align: center; margin: 0">{{ title }}</h3>
              <h3 class="font-weight-light grey--text title " style="margin: 0"> {{reg_date.substring(2,16)}} </h3>
            </v-card-title>
            <v-divider class="mt-0" style="border: solid 1.3px #FFCC80"/>
            <v-card-text>
              <!-- <v-img v-if="containsImg(file_type)" class="file_name" :src="file_name" aspect-ratio="1.5" width="500px"></v-img> -->
              <v-img v-if="file_type==null" class="file_name" :src="'http://www.foodnmed.com/news/photo/201903/18296_3834_4319.jpg'" aspect-ratio="1.5" width="500px"></v-img>
              <v-img v-else-if="file_type.includes('image')" class="file_name" :src="file_name" width="100%"></v-img>    
              <audio v-else-if="file_type.includes('audio')" autoplay controls>
                <!-- <source :src="'https://firebasestorage.googleapis.com/v0/b/cre8or-2a293.appspot.com/o/Over%20the%20Horizon.mp3?alt=media&token=7ac263bd-7550-4b74-860e-bed3daf7cad3'" /> -->
                <source :src="file_name" />
              </audio>
              <video v-else-if="file_type.includes('video')" width="100%" autoplay controls>
                <source :src="file_name" />
              </video>
              <div class="notice-cont2">
                <div class="text-size content"> 
                  <div>
                    <v-textarea
                      v-model="content"
                      solo
                      name="input-7-4"  
                      readonly
                      label="내용이 없습니다."
                      flat
                    >
                    </v-textarea>
                  </div>
                </div>
              </div>
            </v-card-text>
            <div class="justify-space-between">
              <v-card-actions>
              <v-icon v-if="isLiked" @click="deleteLike" color="red" size="38px">mdi-heart</v-icon>
              <v-icon v-else         @click="addLike"   >mdi-heart</v-icon> 
              <span class="text-size right2" v-if="likecnt !== 0">{{ likecnt }}명이 좋아합니다</span>
              <span class="text-size right2" v-else>첫 응원을 보내주세요!</span>
              <v-spacer />
                <v-btn 
                  v-if="this.$session.get('user') &&
                  user_email==this.$session.get('user').email"
                  fab dark small color="orange"
                  @click="postEditDialog = !postEditDialog"
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn 
                  v-if="this.$session.get('user') &&
                  user_email==this.$session.get('user').email"
                  fab dark small color="red"
                  @click="postDeleteDialog = true"
                >
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </v-card-actions>
            </div>   

            

          <!--게시물 수정-->  
          <v-dialog id="postEditDialog" v-model="postEditDialog" width="800px">
            <PostEditDialog 
              :post_no="this.post_no"
              :title="this.title"
              :content="this.content"
              :reg_date="this.reg_date"
              :likes="this.likes"
              :user_email="this.user_email"
              :file_name="this.file_name"
              :file_type="this.file_type"
              :keyword_no="this.keyword_no"
              :category="this.category"
              :isFollowed="this.isFollowed"
              :isLiked="this.isLiked"
            />
            <v-btn text color="secondary" @click="postEditDialog = false">Close</v-btn>
          </v-dialog>
          <v-dialog id="postDeleteDialog" v-model="postDeleteDialog" width="800px">
            <PostDeleteDialog
              :post_no="this.post_no"
              v-on:closeDialog="postDeleteDialog = false"
            />
          </v-dialog>
        
          <v-divider  style="border: solid 1.3px #FFCC80"/>

          <!--댓글-->
          <Comments
            v-for="(comment, i) in comments" :key="i"
            :comment_no="comment.comment_no"
            :content="comment.content"
            :user_email="comment.user_email"
            :reg_date="comment.reg_date"
            :post_no="comment.post_no"
            :nickname="comment.nickname"
            v-on:deleteComment="getComments"
          />
            <v-text-field
              v-if="this.$session.get('user')"
              v-model="comment.content"
             
              label="댓글쓰기"
              placeholder="댓글 입력 후 Enter"
            >
            </v-text-field>
          </v-container>
        </v-card>
      </v-dialog>  
    </v-layout>
  </v-container>
</template>

<script>
import Constant from '@/Constant'
import Comments from '@/components/Comments'
import http from "@/services/http-common";
import PostEditDialog from "@/components/SpeedDialComponents/PostEditDialog";
import PostDeleteDialog from "@/components/SpeedDialComponents/PostDeleteDialog";

export default {
  name: "dashboards",
  components: {
    Comments,
    PostEditDialog,
    PostDeleteDialog
  },
  props: {
    hostEmail:{type:String},
    index: { type: Number },
    post_no: { type: Number },
    title: { type: String },
    content: { type: String },
    reg_date: { type: String },
    likes: { type: Number },
    user_email: { type: String },
    file_name: { type: String },
    file_type: { type: String },
    keyword_no: { type: Number },
    category:{ type: String },
    nickname:{type: String },
    hover: false,
  },
  data() {
    return {
      postEditDialog: false,
      detailDialog: false,
      postDeleteDialog: false,
      //nickname: this.getnickname(),
        isLiked: true,
        likecnt: this.likes,
        isFollowed: true,
      comment: {
        content: "",
        post_no: 0,
        user_email: ""
      },
      comments: [],
      keyword:[],
    }
  },
  created() {
      this.getKeyword();
  },
  methods: {
    getKeyword(){
       http
        .get("/keyword/searchByKeyword_no/" + this.keyword_no)
        .then(response => {
          this.keyword = response.data.data;
        });
    },
    getnickname() {
      return;
    },
    addFollow(){
      http.post("/mypage/follow/addFollowUser", {
	    from_email: this.$session.get("user").email,
      to_email:this.user_email
        })
        .then(response => {
          if (response.data.state == "ok") {
            this.isFollowed = true;
          } else {
            alert("등록 실패");
          }
        })
        .catch((error) => {
          alert("error: " + error.message);
        })
      
    },
    deleteFollow(){
      
       http.delete("/mypage/follow/deleteFollow", {
            data:{
              follow_no : 0,
              from_email : this.$session.get("user").email,
              to_email :this.user_email
            }
          })
            .then(response => {
              if (response.data.state == "ok") {
                // location.href = "/";
                this.isFollowed = false;
              } else {
                alert("등록 실패");
              }
            })
            .catch((error) => {
              alert("error: " + error.message);
            })
    },
    addLike(){
      http.put("/post/addLikePostCnt/"+this.post_no, {
        post_no : this.post_no, 
        
        }).then(response => {
          if (response.data.state == "ok") {
            this.likecnt++;
          } else {
            alert("좋아요 올리기 실패");
          }
        })
        .catch((error) => {
          alert("error: " + error.message);
        });


      http.post("/mypage/likepost/addLikePostUser", {
        post_no : this.post_no,
        user_email :this.$session.get('user').email,
        isLiked : this.isLiked
        })
        .then(response => {
          if (response.data.state == "ok") {
            this.isLiked = true;
          } else {
            alert("등록 실패");
          }
        })
        .catch((error) => {
          alert("error: " + error.message);
        });

    },
    deleteLike(){
        http.put("/post/subLikePostCnt/"+this.post_no, {
        post_no : this.post_no,
        
        }).then(response => {
          if (response.data.state == "ok") {
            this.likecnt--;
            if(this.hostEmail==this.$session.get('user').email){
            this.detailDialog=false
            this.$emit('delPost',this.index)
            }
          } else {
            alert("좋아요 올리기 실패");
          }
        })
        .catch((error) => {
          alert("error: " + error.message);
        });

      http.delete("/mypage/likepost/deleteLikePost", {
          data:{
            post_no : this.post_no,
            user_email :this.$session.get('user').email
          }
        })
        .then(response => {
          if (response.data.state == "ok") {
            this.isLiked = false;
          } else {
            alert("등록 실패");
          }
        })
        .catch((error) => {
          alert("error: " + error.message);
        });

    },
    addComment(comment) {
      if(this.comment.content.trim()==""){
        alert("댓글을 입력해주세요")
      }
      else{
      var session = this.$session;
      var user = session.get('user');
      
      this.$store.dispatch(Constant.ADD_COMMENT, {
        comment: {
          content: this.comment.content,
          post_no: this.post_no,
          user_email: user.email
        }
      })
      .then(()=>{
        this.getComments()
        this.comment.content=''
      })
      }
    },
    getComments() {
      this.detailDialog=true;
      http.get("/comment/searchAll/" + this.post_no)
          .then(response => {
            this.comments = response.data.data;
            
          })
          .catch(error => {
          })
    },
    getisLiked(){
      
      var user_email=this.$session.get("user").email
      console
      http.get("/mypage/likepost/isLikePostByToEmail/" +user_email+"/"+this.post_no)
       .then(response => {
          if(response.data.data==0){
            this.isLiked=false;
          }else {
            this.isLiked=true;
          }
       }).catch(error =>{
       })
    },
    getisFollowed(){
      var from_email=this.$session.get("user").email
      var to_email=this.user_email
           http.get("/mypage/likepost/isFollowedByToEmail/" +from_email+"/"+to_email)
       .then(response => {
          if(response.data.data==0){
            this.isFollowed=false;
          }else {
            this.isFollowed=true;
          }
       }).catch(error =>{
       })
    }
  },

  computed: {
    param: function () {
        return this.$route.params;
    },
    userLogined(){
      var user = this.$session.get('user');
      if(user) return true;
      else return false;
    },
    
  },
  
};
</script>
<style lang="scss" scoped>
.color-666 {
  color: #666;
}
.color-333 {
  color: #333;
}
.h-100 {
  height: 100%;
}

#title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
  color: white;
}
.v-card--reveal > .keyword {
  font-size: 300%;
}
.v-dialog > .v-card > .v-app-bar {
  position: sticky;
  top: 0;
  z-index: 999;
}
</style>
