<template>
  <v-card>
    <v-app-bar flat style="background-image: linear-gradient(to right,  #16d6d9, #96cc29);">
      <h3 style="margin: 0;">회원정보 변경</h3>
      <v-spacer />
      <v-card-actions>
        <v-icon large dark @click="close()">mdi-close-circle-outline</v-icon>
      </v-card-actions>
    </v-app-bar>
    <v-container>
      <v-card-text>
        <v-layout id="profileLayout" row wrap style="text-align: center; width: 100%;">
          <v-flex xs2 style="height:35px; line-height:35px;">
            <v-icon>mdi-account</v-icon>아이디
          </v-flex>
          <v-flex xs10>
            <v-text-field style="margin:0px; padding:0px;" v-model="getUser.user_email" readonly />
          </v-flex>
          <v-flex xs2 style="height:35px; line-height:35px;">
            <v-icon>mdi-account</v-icon>닉네임
          </v-flex>
          <v-flex xs10>
            <v-text-field style="margin:0px; padding:0px;" v-model="getUser.nickname" />
          </v-flex>
          <v-flex xs2 style="height:35px; line-height:35px;">
            <v-icon>mdi-file-document-edit-outline</v-icon>소개글
          </v-flex>
          <v-flex xs10>
            <v-textarea
              v-model="getUser.profile_comment"
              solo
              name="input-7-4"
              label="소개글을 쓰세요"
              style="margin:0px; padding:0px;"
            ></v-textarea>
          </v-flex>
          <v-flex xs2 style="height:35px; line-height:35px;">
            <v-icon>mdi-file-image</v-icon>프로필 사진
          </v-flex>
          <v-flex xs10>
            <span class="progress-bar" :style="{ width: progressUpload + '%'}">{{ progressUpload }}%</span>
            <file-pond
              name="test"
              ref="pond"
              label-idle="Drop files here..."
              v-bind:server="myServer"
              v-bind:files="myFiles"
              v-on:init="handleFilePondInit()"
              acceptedFileTypes="image/*"
            />
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-container>
    <v-card-actions>
      <v-spacer />
      <v-btn text color="yellow" v-if="uploading" @click="up">파일 업로드</v-btn>
      <v-btn text color="indigo" v-if="!uploading" @click="updateUser">수정</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import Constant from "@/Constant";
import firebase from "firebase";
import { storage } from "firebase";

// Import Vue FilePond
import vueFilePond from "vue-filepond";
// Import FilePond styles
import "filepond/dist/filepond.min.css";
// Import FilePond plugins
// Please note that you need to install these plugins separately
// `npm i filepond-plugin-image-preview filepond-plugin-image-exif-orientation --save`
import FilePondPluginImageExifOrientation from "filepond-plugin-image-exif-orientation";
import FilePondPluginImagePreview from "filepond-plugin-image-preview";
import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";

// Create component
const FilePond = vueFilePond(
  FilePondPluginImageExifOrientation,
  FilePondPluginImagePreview
);
var uploadFile;

export default {
  components: {
    FilePond
  },
  props: {
    profileDialog: {
      type: Boolean
    }
  },
  data() {
    return {
      profileDialog: false,
      user: {
        user_email: "",
        pw: "",
        pwCheck: "",
        nickname: "",
        profile_img: ""
      },
      progressUpload: 0,
      file: File,
      uploadTask: "",
      // fake server to simulate loading a 'local' server file and processing a file
      myServer: {
        process: (fieldName, file, metadata, load) => {
          uploadFile = file;
          // simulates uploading a file
          setTimeout(() => {
            this.uploading = true;
            load(Date.now());
          }, 1500);
        },
        load: (source, load) => {
          // simulates loading a file from the server
          fetch(source)
            .then(res => res.blob())
            .then(load);
        }
      },
      myFiles: [],
      uploading: false,
    };
  },
  created() {
    // var user = this.$session.get('user');
    // if(user != null) this.$store.dispatch(Constant.GET_USER, { email: user.user.email });
    this.getUser;
  },
  computed: {
    getUser() {
      return this.$store.state.user;
    }
  },
  methods: {
    close() {
      this.$emit("close");
    },
    ////// 회원정보 수정
    updateUser(user) {
      if(!this.checkName(this.getUser.nickname)) return;

      this.$store.dispatch(Constant.UPDATE_USER, {
        user: {
          user_email: this.getUser.user_email,
          nickname: this.getUser.nickname,
          profile_comment: this.getUser.profile_comment,
          profile_img: this.getUser.profile_img
        }
      });
      location.reload(true);
      location.href = location.href;
      history.go(0);
    },
    //// 활동명 형식 체크
    checkName(nickname) {
      if(nickname == '') {
        alert('활동명을 입력해주세요!');
        return false;
      }

      var nameRegExp = /^[ㄱ-ㅎ가-힣A-Za-z0-9]{2,8}$/;
      if (!nameRegExp.test(nickname)) {
        alert("활동명은 한글, 영어, 숫자로만 구성해주세요!");
        return false;
      }
      return true;
    },
    ////// 파일 업로드
    up() {
      this.upload(uploadFile);
    },
    upload(file) {
      var user = this.$session.get("user");
      //var user = this.user
      var fileName = "profile_img" + "_" + user.email;
      //this.post.file_type = file.type;

      this.uploadTask = firebase
        .storage()
        .ref(fileName)
        .put(file);
    },
    handleFilePondInit() {
      // FilePond instance methods are available on `this.$refs.pond`
      /* eslint-disable */
    }
  },
  watch: {
    uploadTask: function() {
      this.uploadTask.on(
        "state_changed",
        sp => {
          this.progressUpload = Math.floor(
            (sp.bytesTransferred / sp.totalBytes) * 100
          );
        },
        null,
        () => {
          this.uploadTask.snapshot.ref.getDownloadURL().then(downloadURL => {
            this.$emit("url", downloadURL);
            this.getUser.profile_img = downloadURL;
            this.uploading = false;
          });
        }
      );
    }
  }
};
</script>

<style>
v-card > v-container > v-card-text > v-layout > v-flex {
  height: 35px;
  line-height: 35px;
}
</style>
