<template>
  <div>
    <v-container>
      <v-layout row wrap>
        <v-flex
          v-for="(creator, index) in myFavoriteArray"
          :key="index"
          xs12
          mb-3
        >
          <div class="d-flex justify-space-between" style="text-align: center; line-height: 500%">
            <div @click="moveTo(index)">
              <v-avatar size="64" style="align: center">
                <img class="profileimage" :src="creator.profile_img" />
              </v-avatar>
              <span style="margin-left: 20px; ">{{ creator.nickname }}</span>
              <!-- {{ creator.email }}{{creator.profile_img}} -->
            </div>
            <div>
              <v-btn icon @click="deleteFollow(index)">
                <v-icon color="yellow">mdi-star</v-icon>
              </v-btn>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Constant from "@/Constant";
import http from "@/services/http-common";
import { bus } from "@/eventbus";
export default {
  props: {
    myFavoriteArray: { type: Array },
    hostEmail: { type: String }
  },
  data() {
    return {
      text: "mypost"
    };
  },
  created() {
    //this.getMyFavorites()
  },
  methods: {
    deleteFollow(index) {
      this.$store.dispatch(Constant.DELETE_FOLLOW_USER, {
        from_email : this.$session.get('user').email,
        to_email: this.myFavoriteArray[index]
      });

      this.myFavoriteArray.splice(index, 1); //지우기
    },
    moveTo(index) {
      this.$store.state.hostEmail = this.myFavoriteArray[index].user_email;
    }
  }
};
</script>

<style>

.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
</style>