<template>
<div>
  <v-layout row wrap>
    <v-flex class="area" v-for="(i,index) in myPostArray" xs12 sm6 :key="index">
      <Dashboard class="pa-5 areachild"
        :post_no="i.post_no"
        :title="i.title"
        :content="i.content"
        :file_name="i.file_name"
        :reg_date="i.reg_date"
        :likes="i.likes"
        :user_email="i.user_email"
        :nickname="i.nickname"
        :file_type="i.file_type"
        :keyword_no="i.keyword_no"
        :isFollowed="i.isFollowed"
        :isLiked="i.isLiked"
        :category="i.category"
        :index="index"
        :hostEmail="hostEmail"
         v-on:delPost="delLikePost"
      ></Dashboard>
    </v-flex>
  </v-layout>
</div>
  
</template>

<script>
import http from "@/services/http-common";
//import Dashboard from "@/components/Dashboard/Dashboard"
import Dashboard from "./Dashboard"

export default {
  components:{
    Dashboard
  },
  props: {
    myPostArray: {
      type: Array
    },
    hostEmail: {
      type: String
    },
    keyword : {
      type: String
    },
  },
  data() {
    return {
      
      isFollowed:'',
      isLiked:'',
      // "currentUserEmail": this.nowUser.email
  }},
  methods: {
    delLikePost(idx){

      this.myPostArray.splice(idx, 1) //지우기
    }
  },
  created() {
 
    //this.getNowUserPost()
  }

}
</script>

<style>
.area{
  display: table;

}
.areachild{
   display: table-cell;
  position: relative;
}
</style>