<template>
  <v-app>
      <div>
        <v-tabs
          v-model="tab"
          align-with-title
          dark
        >
          <v-tabs-slider color="yellow"></v-tabs-slider>

          <v-tab
            v-for="(item, i) in items"
            :key="i"
          >
            {{ item }}
          </v-tab>

          <v-tab-item
            v-for="i in tabs"
            :key="i"
          >
          <v-container>
            <MyPostsCard v-if="tab === 0" :myPostArray="myPostArray" :hostEmail="hostEmail"/>
            <MyFavoritesCard v-else-if="tab === 1" :myFavoriteArray="myFavoriteArray" />
            <MyLikeCard v-else-if="tab === 2" :myPostArray="myPreferenceArray" :hostEmail="hostEmail" />
          </v-container>
          </v-tab-item>
        </v-tabs>
      </div>
  </v-app>
</template>

<script>
import MyPostsCard from '@/components/MyPageDetail/MyPostsCard'
import MyFavoritesCard from '@/components/MyPageDetail/MyFavoritesCard'
import MyLikeCard from './MyLikeCard'
import http from "@/services/http-common";

const axios = require('axios')

export default {
  components: {
    MyPostsCard,
    MyFavoritesCard,
    MyLikeCard,
  },
  props: {
    hostEmail:{type: String }
  },
  data() {
    return {
      //nowUser: this.$store.state.hostEmail,
      //nowUser: this.$session.get('user').user,
      temp:'',
      myPostArray: [],
      myFavoriteArray: [],
      myPreferenceArray: [],
      tab: null,
      tabs:3,
      items: [
        '나의 작품', '좋아하는 작가', '좋아하는 작품',
      ],
      follow:[],
      likes:[],

    }
  },
  watch:{
    hostEmail: function(){
      this.getPosts()
      this.getMyFavorites()
      this.getPostsNowUserLike()
    }
  },

  methods: {

    // hostEmail의 게시물.
    getPosts() {
      const getPostUrl = `/mypage/post/searchByEmail?user_email=${this.hostEmail}`
      http
      .get(getPostUrl)
      .then(res => {
        this.myPostArray = res.data.data
      })
      .catch(error => {
      });
    },

    // 현재 로그인한 유저가 즐겨찾는 유저의 이메일을 출력하자.
    getMyFavorites() {
      const myFavoritesUrl = `/mypage/user/searchFollowByFromEmail/${this.hostEmail}`
      http
      .get(myFavoritesUrl)
      .then(res => {
        this.myFavoriteArray = res.data.data
      })
      .catch(error => {
        alert("잘못된 요청입니다.")
      })
    },

    // 현재 로그인한 유저가 좋아한(스크랩한) post를 불러오자
    getPostsNowUserLike() {
      const getLikePostUrl = `/mypage/likepost/searchLikePostByToEmail?user_email=${this.hostEmail}`
      http
        .get(getLikePostUrl)
        .then(res => {
          this.myPreferenceArray = res.data.data
        })
        .catch(error => {
          alert("잘못된 요청입니다.")
        });
    },
  },
  mounted() {
    this.getPosts()
    this.getMyFavorites()
    this.getPostsNowUserLike()
  }
}
  
</script>
