<template>
  <div>
    <v-card
      class="mx-auto"
      width="100%"
      tile
      outlined
      style="padding:0px 25px 0px 25px;"
      flat
    >
    <v-container>
      <v-layout row wrap>
        <v-flex xs12>
          <div style="width:100%; text-align:center;">
            <v-avatar
              color="grey"
              size="120"
              style="align: center"
            >
              <v-img class="profileimage" :src="profile_img"></v-img>
            </v-avatar>
          </div>
        </v-flex>
        <v-flex  xs12>
          <h3 style="width:100%; text-align:center;">{{ hostEmail }}</h3>
          <p align="right" v-show="isMypage"><v-btn text small color="primary" @click="pwEditDialog=true">비밀번호 변경</v-btn></p>
          <p style="background-color: white; border: none; margin: 0px; overflow: scroll; white-space:pre-wrap; color: grey">{{ profile_comment }}</p>
        </v-flex>
        <v-flex xs12 style="background-color: #ECEFF1">
          <div class="d-flex justify-end">
            <div v-show="isMypage">
              <v-btn icon>
                <v-icon class="mr-2" @click="profileDialog = !profileDialog">mdi-pencil</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon @click="withdrawal">mdi-delete</v-icon>
              </v-btn>
            </div>
            <div  v-show="!isMypage">
              <v-btn icon v-if="isFollowed" @click="deleteFollow" >
                <v-icon class="mr-2" color="yellow">mdi-star</v-icon>
              </v-btn>
              <v-btn icon v-else @click="addFollow">
                <v-icon class="mr-2" >mdi-star</v-icon>
              </v-btn>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
    </v-card>
    <div  v-show="!isMypage">
      <v-btn @click="moveTo()">내 마이페이지로 이동</v-btn>
    </div>


    <v-dialog id="postDialog" v-model="profileDialog" width="800px">
      <ModifyProfile v-on:close="closeDialog" :profile_img="profile_img"/>
    </v-dialog>
    <v-dialog id="pwEditDialog" v-model="pwEditDialog" width="800px">
      <PwEditDialog v-on:closePwEdit="closePwEdit"/>
    </v-dialog>

  </div>
</template>

<script>
import firebase from "firebase"
import http from '@/services/http-common'
import Constant from '@/Constant';
import store from '@/store'
import ModifyProfile from './ModifyProfile'
import PwEditDialog from './PwEditDialog'

export default {
  name:'profileCard',
  //store,
  components:{
    ModifyProfile,
    PwEditDialog
  },
  props: {
    hostEmail:{type: String },
    isMypage:{type: Boolean}
  },
  data() {
    return {
      profile_img:'',
      profile_comment:'',
      profileDialog: false,
      pwEditDialog: false,
      //hostEmail:''     
      isFollowed:true   
    }

  },
  created(){
    this.getHostInfo()
  },
  watch:{
    hostEmail: function(){
      this.getHostInfo()
    }
  },
  methods: {
    getisFollowed(){
      var from_email=this.$session.get("user").email
      var to_email=this.hostEmail
           http.get("/mypage/likepost/isFollowedByToEmail/" +from_email+"/"+to_email)
       .then(response => {
          if(response.data.data==0){
            this.isFollowed=false;
          }else {
            this.isFollowed=true;
          }
       }).catch(error =>{
       })
    },
addFollow(){
      http.post("/mypage/follow/addFollowUser", {
	    from_email: this.$session.get("user").email,
      to_email:this.hostEmail
        })
        .then(response => {
          if (response.data.state == "ok") {
            // location.href = "/";
            this.isFollowed = true;
          } else {
            alert("등록 실패");
          }
        })
        .catch((error) => {
          alert("error: " + error.message);
        })
      
    },
    deleteFollow(){
       http.delete("/mypage/follow/deleteFollow", {
            data:{
              follow_no : 0,
              from_email : this.$session.get("user").email,
              to_email :this.hostEmail
            }
          })
            .then(response => {
              if (response.data.state == "ok") {
                // location.href = "/";
                this.isFollowed = false;
                alert("삭제완료");
              } else {
                alert("등록 실패");
              }
            })
            .catch((error) => {
              alert("error: " + error.message);
            })
    },
    getHostInfo(){
      http
        .get("/user/getUser/"+this.hostEmail)
        .then(res => {
          this.profile_comment = res.data.data.profile_comment
          this.profile_img = res.data.data.profile_img
        })
        .catch(error => {
        });

    },
    withdrawal(){
      var del = confirm("탈퇴하시겠습니까?")
      if(del){
        http
          .put("/user/updateLive",{
            user_email : this.$store.getters.getUserEmail,
            live : 'N'
          })
          .then(res => {
            alert("회원탈퇴 되었습니다.")
            this.logout();
          })
          .catch(error => {
          });
      }

    },
    logout() {
      firebase.auth().signOut().then(()=>{
        this.$session.clear()
        this.$store.state.user = null;
        // window.sessionStorage.clear()
        // this.$router.replace('/')
        location.reload();
      })
    },
    closeDialog(){
      this.profileDialog = false;
    },
    closePwEdit() {
      this.pwEditDialog = false;
    },
     moveTo(){
      this.$store.state.hostEmail = this.$session.get("user").email
    },
  },
}
</script>
<style>
  .profile{
    position: relative;
    font-size: 10vh;
     border-radius: 60%;
     float: right;
     margin : 10px 20px 0px 0px 
  }
.v-label_font{
  font-size: 100px;
}
  .profile_image{
    width: 60%;
    float: left;
  }
  span{
    width: 60%;
    font-size: 20px;
    justify-content: center;
  }

</style>



