<template>
  <v-card>
    <v-app-bar flat style="background-image: linear-gradient(to right,  #16d6d9, #96cc29);">
      <h3 style="margin: 0;">비밀번호 변경</h3>
      <v-spacer />
      <v-card-actions>
        <v-icon large dark @click="closePwEdit">mdi-close-circle-outline</v-icon>
      </v-card-actions>
    </v-app-bar>
    <v-container>
      <v-card-text>
        <v-layout id="currentPw" row wrap style="text-align: center; width: 100%;"
        v-if="!newPW">
          <v-flex xs2 style="height:35px; line-height:35px;">
            현재 비밀번호
          </v-flex>
          <v-flex xs8>
            <v-text-field
            style="margin:0px; padding:0px;"
            type="password"
            v-model="curPassword"
            @keyup.enter="checkCurPW"
            />
          </v-flex>
        </v-layout>
        <v-layout id="newPw" row wrap style="text-align: center; width: 100%;"
        v-if="newPW">
          <v-flex xs2 style="height:35px; line-height:35px;">
            새 비밀번호
          </v-flex>
          <v-flex xs8>
            <v-text-field
            style="margin:0px; padding:0px;"
            v-model="newPassword"
            type="password" />
          </v-flex>
          <v-flex xs2>
          </v-flex>
          <v-flex xs2 style="height:35px; line-height:35px;">
            새 비밀번호 확인
          </v-flex>
          <v-flex xs8>
            <v-text-field
            style="margin:0px; padding:0px;"
            v-model="newPasswordCheck"
            type="password"
            @keyup.enter="checkNewPW"
             />
          </v-flex>
          <v-flex xs2>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-container>
    <v-card-actions>
      <v-spacer />
      <v-btn text color="indigo" @click="checkCurPW" v-if="!newPW">입력</v-btn>
      <v-btn text color="indigo" @click="checkNewPW" v-if="newPW">비밀번호 변경</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import firebase from "firebase";

export default {
  components: {
    
  },
  props: {
    flag:{ type: Boolean }
  },
  data() {
    return {
      newPW: false,
      curPassword: "",
      newPassword: "",
      newPasswordCheck: "",
    };
  },
  created() {
  },
  computed: {
  },
  methods: {
    checkCurPW() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.$store.state.user.user_email, this.curPassword)
        .then(
          user => {
            this.newPW = true;
          },
          function(err) {
            alert("비밀번호를 확인해주세요!");
          }
        );
    },
    checkNewPW() {
      if(!this.checkPassword()) return;
      firebase.auth().currentUser.updatePassword(this.newPassword)
      .then(() => {
        alert('비밀번호가 변경되었습니다.');
        location.reload();
      })
      .catch(err => {
        alert('비밀번호 변경 중 오류 발생>> ' + err);
      })
    },
    checkExistData(value, dataName) {
      if(value == "") {
        alert(dataName + " 입력해주세요!");
        return false;
      }
      return true;
    },
    checkPassword() {
      if(!this.checkExistData(this.newPassword, "비밀번호를")) return false;

      var password1RegExp = /^[a-zA-z0-9]{6,12}$/;
      if(!password1RegExp.test(this.newPassword)) {
        alert("비밀번호는 영문 대소문자와 숫자 6~12자리로 입력해야합니다");
        return false;
      }

      if(!this.checkExistData(this.newPasswordCheck, "비밀번호 확인을")) return false;

      if(this.newPassword != this.newPasswordCheck) {
        alert("두 비밀번호가 같지 않습니다.")
        return false;
      }

      if(this.newPassword == this.$store.state.user.user_email) {
        alert("이메일과 비밀번호는 같을 수 없습니다!");
        return false;
      }

      if(this.newPassword == this.$store.state.user.nickname) {
        alert("닉네임과 비밀번호는 같을 수 없습니다!")
        return false;
      }
      return true;
    },
    closePwEdit() {
      this.$emit('closePwEdit');
    }
  },
};
</script>

<style>
v-card > v-container > v-card-text > v-layout > v-flex {
  height: 35px;
  line-height: 35px;
}
</style>
