<template>
  <div>
    <v-card>
      <v-app-bar flat style="background-image: linear-gradient(to right,  #16d6d9, #96cc29); opacity: 0.6">
        <h3 style="margin: 0;">문의하기</h3>
        <v-spacer />
        <v-card-actions>
          <v-icon large dark @click="close()">mdi-close-circle-outline</v-icon>
        </v-card-actions>
      </v-app-bar>

      <v-container fill-height style="max-width:450px">
        <v-layout row wrap>
          <v-flex xs12>
            <!-- <v-text-field v-model="email" prepend-icon="mdi-mail" placeholder="Email(이메일)" />
            <v-text-field
              type="password"
              v-model="password"
              prepend-icon="mdi-textbox-password"
              placeholder="Password(비밀번호)"
              @keyup.enter="login"
            /> -->
              <form class="gform pure-form pure-form-stacked" method="POST" data-email="a9871514@gmail.com"
  action="https://script.google.com/macros/s/AKfycby7AtrqqRvaRWhw1CE2dtvQ-XAqcuqmcqN2fP81/exec">
  <!-- <form class="gform pure-form pure-form-stacked" method="POST" data-email="example@email.net"
  action="https://script.google.com/macros/s/AKfycbwMxYDrufp73bKdU8gMvxFDdHRuzcR4IKQUB33B7GqwyfyZS04/exec"> -->
    <!-- change the form action to your script url -->

    <div class="form-elements">
      <fieldset class="pure-group">
        <label for="문의 제목">문의 제목: </label>
        <input id="문의 제목" name="문의 제목" placeholder="제목 입력" v-model="title" required/>
      </fieldset>

      <fieldset class="pure-group">
        <label for="문의 내용">문의 내용: </label>
        <textarea id="문의 내용" name="문의 내용" rows="10"
        v-model="content"
        placeholder="내용 입력" required></textarea>
      </fieldset>

      <fieldset class="pure-group">
        <label for="이메일 주소">연락 받을 이메일 주소:</label>
        <input id="이메일 주소" name="이메일 주소" type="email" value=""
        v-model="email"
        required placeholder="your.name@email.com"/>
      </fieldset>

      <button class="button-success pure-button button-xlarge" @click="send">
        <i class="fa fa-paper-plane"></i>&nbsp;전송</button>
    </div>

    <!-- Customise the Thankyou Message People See when they submit the form: -->
<div style="display:none" class="thankyou_message">
 <!-- You can customize the thankyou message by editing the code below -->
 <h2><em>Thanks</em> for contacting us! We will get back to you soon!
 </h2>
</div>

  </form>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
<!-- START HERE -->
   <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <!-- Style The Contact Form How Ever You Prefer -->
   <link rel="stylesheet" href="style.css">
  </div>
  
</template>

<script data-cfasync="false" src="form-submission-handler.js"></script>
<script>
import firebase from "firebase";

export default {
  components: {
  },
  data: () => ({
    title,
    content,
    email
  }),
  methods: {
    close() {
      this.$emit("close");
    },
    send() {
      if(!this.title) return;
      if(!this.content) return;
      if(!this.email) return;

      // this.$router.replace("/home");
      location.href = '/home';
      alert('문의하기 완료!');
    },
  }
};
</script>