<template>
  <div>
    <v-card>
      <v-app-bar flat style="background-image: linear-gradient(to right,  #16d6d9, #96cc29); opacity: 0.6">
        <h3 style="margin: 0;">로그인</h3>
        <v-spacer />
        <v-card-actions>
          <v-icon large dark @click="close()">mdi-close-circle-outline</v-icon>
        </v-card-actions>
      </v-app-bar>

      <v-container fill-height style="max-width:450px">
        <v-layout row wrap>
          <v-flex xs10>
            <v-text-field type="email" v-model="email" prepend-icon="mdi-mail" placeholder="Email(이메일)" />
          </v-flex>
          <v-flex xs10>
            <v-text-field
              type="password"
              v-model="password"
              prepend-icon="mdi-textbox-password"
              placeholder="Password(비밀번호)"
              @keyup.enter="login"
            />
          </v-flex>
          <v-flex xs1></v-flex>
          <v-flex xs1>
            <v-btn
              style="background-image:linear-gradient(to right,  #16d6d9, #96cc29);"
              @click="login"
            >로그인</v-btn>
          </v-flex>
          <v-flex xs12>
            <v-card-actions>
              <v-label>아직 회원이 아니신가요?</v-label>
              <v-btn
                text
                color="green"
                style="font-size : 16px; padding-bottom: 7px"
                @click="signUpDialog = !signUpDialog"
              >회원가입</v-btn>
              <v-spacer />
            </v-card-actions>
            <v-card-actions>
              <v-label>비밀번호를 잊어버리셨나요?</v-label>
              <v-btn
                text
                color="green"
                style="font-size : 16px; padding-bottom: 7px"
                @click="ResetpwDialog = !ResetpwDialog"
              >비밀번호 재설정</v-btn>
              <v-spacer />
            </v-card-actions>
            <v-card-actions>
              <v-label>기타 문의사항은?</v-label>
              <v-btn
                text
                color="green"
                style="font-size : 16px; padding-bottom: 7px"
                @click="inquireDialog = !inquireDialog"
              >문의하기</v-btn>
              <v-spacer />
            </v-card-actions>
          </v-flex>
          <v-flex xs1>
            <v-btn color="green" @click="loginGoogle">
              <v-icon class="fa fa-fw fa-google-plus" color="white"></v-icon>
            </v-btn>
          </v-flex>
          <v-flex xs1>
          </v-flex>
          <v-flex xs1>
            <v-btn color="green" @click="loginFacebook">
              <v-icon class="fa fa-fw fa-facebook" color="white"></v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
    <v-dialog id="SignUpDialog" v-model="signUpDialog" width="800px">
      <SignUpDialog v-on:close="signUpDialog = false" />
    </v-dialog>
    <v-dialog id="ResetpwDialog" v-model="ResetpwDialog" width="800px">
      <ResetpwDialog v-on:close="ResetpwDialog = false" />
    </v-dialog>
    <v-dialog id="inquireDialog" v-model="inquireDialog" width="800px">
      <InquireDialog v-on:close="inquireDialog = false" />
    </v-dialog>
  </div>
</template>

<script>
import firebase from "firebase";
import http from "@/services/http-common";
import Constant from "@/Constant";
import SignUpDialog from "./SignUpDialog";
import ResetpwDialog from "./ResetpwDialog";
import InquireDialog from "./InquireDialog"

export default {
  components: {
    SignUpDialog,
    ResetpwDialog,
    InquireDialog
  },
  data: () => ({
    email: "",
    password: "",
    signUpDialog: false,
    ResetpwDialog: false,
    inquireDialog: false
  }),
  methods: {
    close() {
      this.$emit("close");
    },
    ////// email 로그인
    login() {
      http
        .get("/user/getUser/" + this.email)
        .then(response => {
          var userCheck = response.data.data;
          if (userCheck) {
            if (userCheck.live == "N") {
              location.reload();
              alert("탈퇴한 회원입니다.");
            } else {
              this.firebaseEmailLogin();
            }
          } else {
            alert("이메일/비밀번호를 확인하세요.");
          }
        })
        .catch(error => {
        });
    },
    firebaseEmailLogin() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(
          user => {
            if (user.user.emailVerified) {
              this.$session.set("user", user.user);
              this.$store.dispatch(Constant.GET_USER, { email: this.email });
              location.reload();
              
            } else {
              alert(
                  user.user.email +
                  " 메일함 확인 후 인증을 진행해주세요!"
              );
            }
            // this.$session.set("user", user.user);
            // this.$store.dispatch(Constant.GET_USER, { email: this.email });
            // location.reload();
          },
          function(err) {
            alert("에러: " + err.message);
          }
        );
    },
    ////// google 로그인
    loginGoogle() {
      var session = this.$session;
      var googleProvider = new firebase.auth.GoogleAuthProvider();
      var add = this.addUser;
      var get = this.getUser;

      firebase
        .auth()
        .signInWithPopup(googleProvider)
        .then(function(result) {
          var user = firebase.auth().currentUser;
          // 최초 로그인 시 DB에 저장
          http
            .get("/user/getUser/" + user.email)
            .then(response => {
              var userCheck = response.data.data;
              if (userCheck == null) {
                add(user.email, user.displayName);
              } else {
                if (userCheck.live == "N") {
                  location.reload();
                  alert("탈퇴한 회원입니다.");
                } else {
                  session.set("user", user);
                  get(user.email);
                  location.reload();
                  //alert("로그인 완료!");
                }
              }
            })
            .catch(error => {
            });
        })
        .catch(function(error) {
          alert("로그인에 실패하였습니다");
          console.error("구글 로그인 과정 에러", error);
        });
    },
    ////// facebook 로그인
    loginFacebook() {
      var session = this.$session;
      var facebookProvider = new firebase.auth.FacebookAuthProvider();
      var add = this.addUser;
      var get = this.getUser;

      firebase
        .auth()
        .signInWithPopup(facebookProvider)
        .then(function(result) {
          var user = firebase.auth().currentUser;
          // 최초 로그인 시 DB에 저장
          http
            .get("/user/getUser/" + user.email)
            .then(response => {
              var userCheck = response.data.data;
              if (userCheck == null) {
                add(user.email, user.displayName);
              } else {
                if (userCheck.live == "N") {
                  location.reload();
                  alert("탈퇴한 회원입니다.");
                } else {
                  session.set("user", user);
                  get(user.email);
                  location.reload();
                  //alert("로그인 완료!");
                }
              }
            })
            .catch(error => {
            });
        })
        .catch(function(error) {
          alert("로그인에 실패하였습니다");
          console.error("페이스북 로그인 과정 에러", error);
        });
    },
    //// 회원 등록
    addUser(email, displayName) {
      this.$store.dispatch(Constant.ADD_USER, {
        user_email: email,
        nickname: displayName
      });
    },
    //// store에 유저 정보 추가
    getUser(user_email) {
      this.$store.dispatch(Constant.GET_USER, { email: user_email });
    },
    closeSignUpDialog() {
      this.signUpDialog = false;
    },
    closeInquireDialog() {
      this.inquireDialog = false;
    },
    closeResetDialog() {
      this.ResetpwDialog = false;
    }
  }
};
</script>