<template>
      <v-card>
        <v-card-title class="indigo">회원정보 변경</v-card-title>
        <v-row class="mx-2 align-center justify-space-between">
          <v-col cols="2">
              <v-icon>mdi-account</v-icon> 아이디
          </v-col>
            <v-col cols="10">
              <v-text-field v-model="getUser.user_email" readonly/>
            </v-col>
            <v-col cols="2">
               <v-icon>mdi-account</v-icon> 닉네임
            </v-col>
            <v-col cols="10">
              <v-text-field v-model="getUser.nickname"/>
            </v-col>
          </v-row>
        <v-card-actions>
          <v-spacer />
          <v-btn text color="indigo" @click="updateUser">Edit</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import Constant from "@/Constant"

export default {
  data: () => ({
    user: {
      user_email: "",
      pw: "",
      pwCheck: "",
      nickname: ""
    }
  }),
  created() {
    // var user = this.$session.get('user');
    // if(user != null) this.$store.dispatch(Constant.GET_USER, { email: user.user.email });
    this.getUser;
  },
  computed: {
    getUser(){
      return this.$store.state.user;
    }
  },
  methods: {
    ////// 회원정보 수정
    updateUser(user){
      this.$store.dispatch(Constant.UPDATE_USER, {
        user: {
          user_email: this.getUser.user_email,
          nickname: this.getUser.nickname
        }
      });
    }
  }
};
</script>