<template>
      <v-card>
        <v-card-title class="indigo">작품 수정</v-card-title>
        <v-container fill-height>
          <v-row class="mx-2 align-center justify-space-between">
            <v-col cols="4">
              <v-select
                :items="categories.categoryArr"
                v-model="post.category"
                label="Category(카테고리)"
                single-line
              ></v-select> 
            </v-col>
            <v-col cols="12">
              <v-text-field v-model="post.title" prepend-icon="mdi-format-title" placeholder="Title(제목)" />
            </v-col>
            <v-col cols="12">
              <v-textarea
                v-model="post.content"
                solo
                name="input-7-4"
                label="content(내용)"
                prepend-icon="mdi-file-document-edit-outline"
              ></v-textarea>
            </v-col>
            <v-col cols="12">
              <!-- <v-file-input multiple accept="image/jpeg" label="File Upload" @change="detectFiles($event.target.files)"/> -->
              <!-- <input type="file" multiple accept="image" @change="detectFiles($event.target.files)"> -->
              <span class="progress-bar" :style="{ width: progressUpload + '%'}">{{ progressUpload }}%</span>
                <file-pond
                  name="test"
                  ref="pond"
                  label-idle="Drop files here..."
                  v-bind:server="myServer"
                  v-bind:files="myFiles"
                  v-on:init="handleFilePondInit()"
                  acceptedFileTypes='image/*, audio/*, video/*'
                  />
                  <!-- allow-multiple="true" -->
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer />
          <v-btn text color="yellow" v-if="uploading" @click="up">파일 업로드</v-btn>
          <v-btn text color="indigo" v-if="!uploading" @click="updatePost">수정</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import Constant from "@/Constant"
import firebase from 'firebase';
import { storage } from 'firebase';

// Import Vue FilePond
import vueFilePond from 'vue-filepond';
// Import FilePond styles
import 'filepond/dist/filepond.min.css';
// Import FilePond plugins
// Please note that you need to install these plugins separately
// `npm i filepond-plugin-image-preview filepond-plugin-image-exif-orientation --save`
import FilePondPluginImageExifOrientation from 'filepond-plugin-image-exif-orientation';
import FilePondPluginImagePreview from 'filepond-plugin-image-preview';
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';
import http from "@/services/http-common";

// Create component
const FilePond = vueFilePond(
  FilePondPluginImageExifOrientation,
  FilePondPluginImagePreview
);

var uploadFile;
var categories = {categoryArr:[]};

export default {
  props: {
    post_no: { type: Number },
    title: { type: String },
    content: { type: String },
    file_name: { type: String },
    user_email: { type: String },
    file_type: { type: String },
    category: { type: String },
  },
  data(){
    return{
      post: {
        post_no: this.post_no,
        title: this.title,
        content: this.content,
        file_name: this.file_name,
        category: this.category,
        file_type: this.file_type
      },
      categories,
      progressUpload: 0,
      file: File,
      uploadTask: "",
      // fake server to simulate loading a 'local' server file and processing a file
      myServer: {
        process: (fieldName, file, metadata, load) => {
          uploadFile = file;
          // simulates uploading a file
          setTimeout(() => {
            if(this.file_name.includes('https://firebasestorage.googleapis.com/v0/b/cre8or-2a293.appspot.com/o/')) {
              var arr = this.file_name.split("/");
              arr = arr[7].split("?");
              if(arr[0]!=file.name) this.uploading = true;
            }
            else this.uploading = true;
            load(Date.now())
          }, 1500);
        },
        load: (source, load) => {
          // simulates loading a file from the server
          fetch(source).then(res => res.blob()).then(load);
        }
      },
      myFiles: this.file_name,
      uploading: false,
  }},
  methods: {
    ////// 게시글 수정
    updatePost() {
       var session = this.$session;
       var user = session.get('user');
       this.$store.dispatch(Constant.UPDATE_POST, {
          post_no: this.post.post_no,
          title: this.post.title,
          content: this.post.content,
          file_name: this.post.file_name,
          category: this.post.category,
          file_type: this.post.file_type,
          user_email: user.email,
       }).then(() =>{
        //  this.$emit('updatePost');
        location.reload();
       });
       
      //  location.reload();
    },
    ////// 파일 업로드
    up() {
      this.upload(uploadFile);
    },
    upload (file) {
      var user = this.$session.get('user');
      var date = new Date(); var year = date.getFullYear();
      var month = date.getMonth() + 1; if(month<10) month = '0' + month;
      var day = date.getDate(); if(day<10) day = '0' + day;
      var hour = date.getHours(); var minute = date.getMinutes(); var second = date.getSeconds();
      var fileName = year + month + day + hour + minute + second + '_' + user.email + '_' + file.name;
      this.post.file_type = file.type;
      this.uploadTask = firebase.storage().ref(fileName).put(file);
    },
    handleFilePondInit() {
      // FilePond instance methods are available on `this.$refs.pond`
      /* eslint-disable */
    },
    ////// 카테고리 가져오기
    getCategories() {
      var arr = this.categories.categoryArr;
      var obj = this.$store.state.categories;
      for (let i = 0; i < obj.length; i++) {
        arr[i] = obj[i].category;        
      }
    }
  },
  created () {
    this.getCategories();
  },
  watch: {
    uploadTask: function() {
      this.uploadTask.on('state_changed', sp => {
        this.progressUpload = Math.floor(sp.bytesTransferred / sp.totalBytes * 100)
      }, 
      null, 
      () => {
        this.uploadTask.snapshot.ref.getDownloadURL().then(downloadURL => {
          this.$emit('url', downloadURL)
          this.post.file_name = downloadURL;
          this.uploading = false;
        })
      })
    }
  },
  components: {
    FilePond
  }
};
</script>
