<template>
  <v-card>
    <v-app-bar flat style="background-image: linear-gradient(to right,  #16d6d9, #96cc29); opacity:0.6;">
      <h3 style="margin: 0;">작품 등록</h3>
      <v-spacer />
      <v-card-actions>
        <v-icon large dark @click="close()">mdi-close-circle-outline</v-icon>
      </v-card-actions>
    </v-app-bar>
    <v-container fill-height>
      <v-row class="mx-2 align-center justify-space-between">
        <v-col cols="4">
          <v-select
            :items="keywords.keywordArr"
            v-model="post.keyword_no"
            label="Keyword(키워드)"
            single-line
          ></v-select>
        </v-col>
        <v-col cols="4">
          <v-select
            :items="categories.categoryArr"
            v-model="post.category"
            label="Category(카테고리)"
            single-line
          ></v-select>
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model="post.title"
            prepend-icon="mdi-format-title"
            placeholder="Title(제목)"
          />
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model="post.content"
            solo
            name="input-7-4"
            label="content(내용)"
            prepend-icon="mdi-file-document-edit-outline"
          ></v-textarea>
        </v-col>
        <v-col cols="12">
          <!-- <v-file-input multiple accept="image/jpeg" label="File Upload" @change="detectFiles($event.target.files)"/> -->
          <!-- <input type="file" multiple accept="image" @change="detectFiles($event.target.files)"> -->
          <span class="progress-bar" :style="{ width: progressUpload + '%'}">{{ progressUpload }}%</span>
          <file-pond
            name="test"
            ref="pond"
            label-idle="Drop files here..."
            v-bind:server="myServer"
            v-bind:files="myFiles"
            v-on:init="handleFilePondInit()"
            acceptedFileTypes="image/*, audio/*, video/*"
          />
          <!-- allow-multiple="true" -->
        </v-col>
      </v-row>
    </v-container>
    <v-card-actions>
      <v-spacer />
      <v-btn text color="yellow" v-if="uploading" @click="up">파일 업로드</v-btn>
      <v-btn text color="indigo" v-if="!uploading" @click="addPost">등록</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import Constant from "@/Constant";
import firebase from "firebase";
import { storage } from "firebase";

// Import Vue FilePond
import vueFilePond from "vue-filepond";
// Import FilePond styles
import "filepond/dist/filepond.min.css";
// Import FilePond plugins
// Please note that you need to install these plugins separately
// `npm i filepond-plugin-image-preview filepond-plugin-image-exif-orientation --save`
import FilePondPluginImageExifOrientation from "filepond-plugin-image-exif-orientation";
import FilePondPluginImagePreview from "filepond-plugin-image-preview";
import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";

// Create component
const FilePond = vueFilePond(
  FilePondPluginImageExifOrientation,
  FilePondPluginImagePreview
);

var uploadFile;
var keywords = { keywordArr: [] };
var categories = { categoryArr: [] };

export default {
  data() {
    return {
      post: {
        title: "",
        content: "",
        file_name: "",
        keyword_no: 0,
        category: "",
        file_type: ""
      },
      categories,
      keywords,
      progressUpload: 0,
      file: File,
      uploadTask: "",
      // fake server to simulate loading a 'local' server file and processing a file
      myServer: {
        process: (fieldName, file, metadata, load) => {
          uploadFile = file;
          // simulates uploading a file
          setTimeout(() => {
            this.uploading = true;
            load(Date.now());
          }, 1500);
        },
        load: (source, load) => {
          // simulates loading a file from the server
          fetch(source)
            .then(res => res.blob())
            .then(load);
        }
      },
      myFiles: [],
      uploading: false
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },
    ////// 글쓰기
    addPost(post) {
 
      if(this.post.title.trim()==""){
        alert("제목을 입력해주세요")
      }else if(this.post.keyword_no==0){
         alert("키워드을 선택해주세요")
      }else if(this.post.category==""){
         alert("카테고리를 선택해주세요")
      }
      else{
        var session = this.$session
      var user = session.get("user");
      this.$store.dispatch(Constant.ADD_POST, {
        post: {
          title: this.post.title,
          content: this.post.content,
          user_email: user.email,
          keyword_no: this.post.keyword_no,
          file_name: this.post.file_name,
          file_type: this.post.file_type,
          category: this.post.category
        }
      });
      location.reload();
      }
    },
    ////// 파일 업로드
    up() {
      this.upload(uploadFile);
    },
    upload(file) {
      var user = this.$session.get("user");
      var date = new Date();
      var year = date.getFullYear();
      var month = date.getMonth() + 1;
      if (month < 10) month = "0" + month;
      var day = date.getDate();
      if (day < 10) day = "0" + day;
      var hour = date.getHours();
      var minute = date.getMinutes();
      var second = date.getSeconds();
      var fileName =
        year +
        month +
        day +
        hour +
        minute +
        second +
        "_" +
        user.email +
        "_" +
        file.name;
      this.post.file_type = file.type;

      this.uploadTask = firebase
        .storage()
        .ref(fileName)
        .put(file);
    },
    handleFilePondInit() {
      // FilePond instance methods are available on `this.$refs.pond`
      /* eslint-disable */
    },
    ////// 키워드 가져오기
    getKeywords() {
      var keywordArr = this.keywords.keywordArr;
      var keywordObj = this.$store.state.keywords;
      for (let i = 0; i < keywordObj.length; i++) {
        keywordArr[i] = {
          text: keywordObj[i].keyword,
          value: keywordObj[i].keyword_no
        };
      }
    },
    ////// 카테고리 가져오기
    getCategories() {
      var arr = this.categories.categoryArr;
      var obj = this.$store.state.categories;
      for (let i = 0; i < obj.length; i++) {
        arr[i] = obj[i].category;
      }
    }
  },
  created() {
    this.getKeywords();
    this.getCategories();
  },
  watch: {
    uploadTask: function() {
      this.uploadTask.on(
        "state_changed",
        sp => {
          this.progressUpload = Math.floor(
            (sp.bytesTransferred / sp.totalBytes) * 100
          );
        },
        null,
        () => {
          this.uploadTask.snapshot.ref.getDownloadURL().then(downloadURL => {
            this.$emit("url", downloadURL);
            this.post.file_name = downloadURL;
            this.uploading = false;
          });
        }
      );
    }
  },
  components: {
    FilePond
  }
};
</script>
