<template>
      <v-card>
        <!-- <v-card-title class="indigo">Delete Post</v-card-title> -->
        <v-container fill-height>
          <v-row class="mx-2 align-center justify-space-between">
            <v-col cols="6">
              게시글을 삭제하시겠습니까?
              <v-btn text color="red" @click="deletePost"><v-icon>mdi-delete</v-icon></v-btn>
              <v-btn text @click="closeDialog"><v-icon>mdi-reply</v-icon></v-btn>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer />
        </v-card-actions>
      </v-card>
</template>

<script>
import Constant from "@/Constant"

export default {
  props: {
    post_no: {type: Number},
  },
  data(){
    return{
      // post_no: this.post_no,
    }
  },
  methods: {
    closeDialog() {
      this.$emit('closeDialog');
    },
    deletePost() {
      this.$store.dispatch(Constant.DELETE_POST, {
        post_no: this.post_no
      })
      .then(() => {
        location.reload();
      })
    }
  },
  created () {
  },
  components: {
  }
};
</script>
