<template>
  <v-card>
    <v-app-bar
      flat
      style="background-image: linear-gradient(to right,  #16d6d9, #96cc29); opacity: 0.6"
    >
      <h3 style="margin: 0;">비밀번호 재설정</h3>
      <v-spacer />
      <v-card-actions>
        <v-icon large dark @click="close()">mdi-close-circle-outline</v-icon>
      </v-card-actions>
    </v-app-bar>
    <v-container>
      <v-row class="mx-2 align-center justify-space-between">
        <v-col cols="12">
          <v-text-field v-model="user_email" prepend-icon="mdi-mail" placeholder="Email(이메일)" />
        </v-col>
      </v-row>
    </v-container>
    <v-card-actions>
      <v-spacer />
      <v-btn text color="red" @click="sendemail">확인</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import firebase from "firebase";

export default {
  data: () => ({
    user_email: ""
  }),
  methods: {
    close() {
      this.$emit("close");
    },
    ////// 회원가입 시 검증 절차
    sendemail() {
      var auth = firebase.auth();
      var emailAddress = this.user_email;

      auth
        .sendPasswordResetEmail(emailAddress)
        .then(function() {
          // Email sent.
          alert("메일 발송 완료");
          location.reload();
        })
        .catch(function(error) {
          // An error happened.
          alert("메일 주소를 확인해주세요");
        });
    }
  }
};
</script>