<template>
  <v-card>
    <v-app-bar
      flat
      style="background-image: linear-gradient(to right,  #16d6d9, #96cc29); opacity:0.6;"
    >
      <h3 style="margin: 0;">Cre8or의 동료 되기</h3>
      <v-spacer />
      <v-card-actions>
        <v-icon large dark @click="close()">mdi-close-circle-outline</v-icon>
      </v-card-actions>
    </v-app-bar>
    <v-container>
      <v-row class="mx-2 align-center justify-space-between">
        <v-col cols="12">
          <v-text-field
            v-model="user.nickname"
            prepend-icon="mdi-clipboard-account"
            placeholder="Nickname(활동명)"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field type="email" v-model="user.user_email" prepend-icon="mdi-mail" placeholder="Email(이메일)" />
        </v-col>
        <!-- <v-col cols="12">
          <v-text-field type="tel" prepend-icon="mdi-phone" placeholder="(000) 000 - 0000" />
        </v-col>-->
        <v-col cols="6">
          <v-text-field
            v-model="user.pw"
            type="password"
            prepend-icon="mdi-textbox-password"
            placeholder="Password(비밀번호)"
          />
        </v-col>
        <v-col cols="6">
          <v-text-field
            v-model="user.pwCheck"
            type="password"
            prepend-icon="mdi-textbox-password"
            placeholder="Confirm Password(비밀번호 확인)"
          />
        </v-col>
      </v-row>
    </v-container>
    <v-card-actions>
      <!-- <v-btn text color="red">More</v-btn> -->
      <v-spacer />

      <v-btn text color="red" @click="checkAll">회원가입</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import firebase from "firebase";
import router from "vue-router";
import http from "@/services/http-common";
import Constant from "@/Constant";

export default {
  data: () => ({
    user: {
      user_email: "",
      pw: "",
      pwCheck: "",
      nickname: ""
    }
  }),
  methods: {
    close() {
      this.$emit("close");
    },
    ////// 회원가입 시 검증 절차
    checkAll() {

      if (!checkMail(this.user.user_email)) {
        return;
      }
      if (
        !checkPassword(
          this.user.pw,
          this.user.pwCheck,
          this.user.user_email,
          this.user.nickname
        )
      ) {
        return;
      }
      if (!checkName(this.user.nickname)) {
        return;
      }
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.user.user_email, this.user.pw)
        .then(
          user => {
            user.user.sendEmailVerification();
            this.$store.dispatch(Constant.ADD_USER, {
              user_email: this.user.user_email,
              nickname: this.user.nickname
           }).then(() => {
              user.user.sendEmailVerification();
              alert(
                "회원님의 메일 " +
                this.user.user_email +
                "(으)로 인증 메일을 보냈습니다. 이메일 인증을 진행하면 서비스를 마음껏 이용할 수 있습니다!"
              );
              location.href = "/";
           })
          },
          function(err) {
            alert("회원가입 중 에러>> " + err.message);
          }
        );
    }
  }
};

// 공백확인 함수
function checkExistData(value, dataName) {
  if (value == "") {
    alert(dataName + " 입력해주세요!");
    return false;
  }
  return true;
}

function checkPassword(pw, pwCheck, email, nickname) {
  //비밀번호가 입력되었는지 확인하기
  if (!checkExistData(pw, "비밀번호를")) return false;

  var password1RegExp = /^[a-zA-z0-9]{6,12}$/; //비밀번호 유효성 검사
  if (!password1RegExp.test(pw)) {
    alert("비밀번호는 영문 대소문자와 숫자 6~12자리로 입력해야합니다!");

    return false;
  }

  //비밀번호 확인이 입력되었는지 확인하기
  if (!checkExistData(pwCheck, "비밀번호 확인을")) return false;

  //비밀번호와 비밀번호 확인이 맞지 않다면..
  if (pw != pwCheck) {
    alert("두 비밀번호가 같지 않습니다.");
    return false;
  }

  //이메일과 비밀번호가 같을 때..
  if (email == pw) {
    alert("이메일과 비밀번호는 같을 수 없습니다!");
    return false;
  }

  //닉네임과 비밀번호가 같을 때..
  if (nickname == pw) {
    alert("닉네임과 비밀번호는 같을 수 없습니다!");
    return false;
  }
  return true; //확인이 완료되었을 때
}

function checkMail(mail) {
  //mail이 입력되었는지 확인하기
  if (!checkExistData(mail, "이메일을")) return false;

  var emailRegExp = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;
  if (!emailRegExp.test(mail)) {
    alert("이메일 형식이 올바르지 않습니다!");
    return false;
  }
  return true; //확인이 완료되었을 때
}

function checkName(nickname) {
  if (!checkExistData(nickname, "활동명을")) return false;

  var nameRegExp = /^[ㄱ-ㅎ가-힣A-Za-z0-9]{2,8}$/;
  if (!nameRegExp.test(nickname)) {
    alert("활동명은 한글, 영어, 숫자로만 구성해주세요!");
    return false;
  }
  return true; //확인이 완료되었을 때
}
</script>