<!DOCTYPE html>
<html lang="ko">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Cre8or</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- font-family: 'Share Tech Mono', monospace;
    font-family: 'Jua', sans-serif;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Yeon Sung', cursive;
    font-family: 'Kirang Haerang', cursive; -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but ssafy doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- The core Firebase JS SDK is always required and must be listed first -->
   <!-- <script src="/__/firebase/7.8.0/firebase-app.js"></script> -->

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->

    <!-- Initialize Firebase -->
    <!-- <script src="/__/firebase/init.js"></script> -->
  </body>
</html>
