<template>
<div>
  <v-row class="fill-height">
    <v-col>
      <v-sheet height="64">
        <v-toolbar flat color="white">
          <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
            Today
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="prev">
            <v-icon small>mdi-chevron-left</v-icon> 
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small>mdi-chevron-right</v-icon>
          </v-btn>
          <v-toolbar-title>{{ titleDate }}</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
      </v-sheet>

     <!--달력-->  
      <v-sheet height="600" class="center">
        <v-calendar
          ref="calendar"
          v-model="focus"
          color="primary"
          :events="events"
          :event-color="getEventColor"
          :now="today"
          :type="type"
          @click:event="showEvent"
          @click:date="Daychart"
          @change="getEvents"
        ></v-calendar>

        <!--해당 일정 클릭--> 
        <v-menu
        min-width="500"
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          offset-x
        >
          <v-card
            color="grey lighten-4"
            max-width="500"
          >
            <v-app-bar
              :color="selectedEvent.color"
              style="opacity: 0.6"
              dark
              flat
            >
              <v-btn icon>
                <v-icon>mdi-heart</v-icon>
              </v-btn>
              <h4 v-html="selectedEvent.name+' : '+selectedEvent.post_cnt+'개'" style="margin:0;"></h4>
              <v-spacer></v-spacer>
             <v-btn icon v-if="currentlyEditing !== selectedEvent.id"
                @click.prevent="editKeyword(selectedEvent)">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-btn icon @click="deleteKeyword(selectedEvent)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </v-app-bar>
            <v-card-text>
              <form v-if="currentlyEditing !== selectedEvent.id">
                <div v-if="Keywordcnt.length>0">
                  {{Keywordcnt[0].name}} : {{Keywordcnt[0].cnt}}개<br>
                  {{Keywordcnt[1].name}} : {{Keywordcnt[1].cnt}}개<br>
                  {{Keywordcnt[2].name}} : {{Keywordcnt[2].cnt}}개<br>
                  {{Keywordcnt[3].name}} : {{Keywordcnt[3].cnt}}개<br>
                  {{Keywordcnt[4].name}} : {{Keywordcnt[4].cnt}}개<br>
                </div>
              </form>
              <form v-else>
                <textarea v-model="selectedEvent.name">
                </textarea>
              </form>
            </v-card-text>
            <v-card-actions>
              <v-btn text color="secondary" @click="selectedOpen = false"> 취소</v-btn>
             <v-btn text 
                v-if="currentlyEditing === selectedEvent.id"
                @click.prevent="updateKeyword(selectedEvent)"> 저장</v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
      </v-sheet>
    </v-col>
  </v-row>
   <v-dialog v-model="Insertdialog" max-width="600px">
    <InsertKeyword 
      v-bind:startDate="focus"
      v-on:close="closeDialog"
    ></InsertKeyword>
  </v-dialog>
  <v-dialog v-model="dialog" >
    <v-card v-if="dialog">
      <v-app-bar class="indigo" style="opacity: 0.6" flat>
        <h3 style="margin: 0;">게시글 통계</h3>
        <v-spacer />
        <hr>
        <v-card-actions>
          <v-icon large dark @click="dialog = !dialog">
            mdi-close-circle-outline
          </v-icon>
        </v-card-actions>
      </v-app-bar>
        <v-container fill-height>
          <v-row class="mx-4 align-center justify-space-between">
        <v-col xs4>
         <pie-chart :title="title.Daytext+Dcatcnt[0].keyword" :data="[[Dcatcnt[0].name, Dcatcnt[0].cnt], [Dcatcnt[1].name, Dcatcnt[1].cnt],[Dcatcnt[2].name, Dcatcnt[2].cnt],[Dcatcnt[3].name, Dcatcnt[3].cnt],[Dcatcnt[4].name, Dcatcnt[4].cnt]]" ></pie-chart>
        </v-col>
        <v-col xs4>
         <pie-chart :title="title.Weektext+Wcatcnt[0].keyword" :data="[[Wcatcnt[0].name, Wcatcnt[0].cnt], [Wcatcnt[1].name, Wcatcnt[1].cnt],[Wcatcnt[2].name, Wcatcnt[2].cnt],[Wcatcnt[3].name, Wcatcnt[3].cnt],[Wcatcnt[4].name, Wcatcnt[4].cnt]]" ></pie-chart>
        </v-col>
        <v-col xs4>
         <pie-chart :title="title.Monthtext+Mcatcnt[0].keyword" :data="[[Mcatcnt[0].name, Mcatcnt[0].cnt], [Mcatcnt[1].name, Mcatcnt[1].cnt],[Mcatcnt[2].name, Mcatcnt[2].cnt],[Mcatcnt[3].name, Mcatcnt[3].cnt],[Mcatcnt[4].name, Mcatcnt[4].cnt]]" ></pie-chart> 
        </v-col>
         </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer />
        </v-card-actions>
      </v-card>
    
  </v-dialog>
</div>
</template>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
import http from '@/services/http-common'
import Constant from '@/Constant';

import InsertKeyword from './InsertKeyword';

  export default {
    name: 'DashboardCalcList',
    components: {
        // Daychart
        InsertKeyword
    },
    data: () => ({
      today: new Date().toISOString().substr(0,10),
      focus: '',
      type: 'month',
      typeToLabel: {
        month: 'Month',
        day: 'Day',
      },
      start: null,
      end: null,

      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      events: [],
      dayevents:[],

      colors: ["", "orange lighten-1", "#EF9A9A","deep-purple lighten-2" ],
      //colors: ["", "light-green", "green","cyan" ],
      //colors: ["", "#96cc29", "#56d089", "#16d6d9"],
      // colors: ["", "#EF9A9A", "#26A69A", "#7E57C2"],

      currentlyEditing: null,
    
      keywordList:[],
      dialog: false,
      Insertdialog: false,
      categories : [],
           Dcatcnt : [],
           Wcatcnt : [],
           Mcatcnt : [],
           Keywordcnt : [],
           title: {
            Daytext: '[Daily Keyword]  ',
            Weektext: '[Weekly Keyword]  ' ,
            Monthtext: '[Monthly keyword]  ' 
          },
    }),

    created() {
          http.get('/keyword/searchAll').then(response => {
              this.keywordList=response.data.data
              this.getEvents(this.start, this.end)
              }).catch(error=>{
          })
    },

    computed: {
      titleDate () {
        const { start, end } = this
        if (!start || !end) {
          return ''
        }
        const startMonth = this.monthFormatter(start)
        const endMonth = this.monthFormatter(end)
        const suffixMonth = startMonth === endMonth ? '' : endMonth

        const startYear = start.year
        const endYear = end.year
        const suffixYear = startYear === endYear ? '' : endYear

        const startDay = start.day + "일"
        const endDay = end.day + "일"

        switch (this.type) {
          case 'month':
            return `${startMonth} ${startYear}년`
          case 'day':
            return `${startMonth} ${startDay} ${startYear}년`
        }
        return ''
      },
      monthFormatter () {
        return this.$refs.calendar.getFormatter({
          timeZone: 'UTC', month: 'long',
        })
      },

    },
    mounted () {
      this.$refs.calendar.checkChange()
    },

    methods: {
      //  openDialog(){
      //    this.dialog = true;
      //  },
       closeDialog(){
        this.dialog = false;
        this.Insertdialog = false;
      },
        editKeyword(event){
        this.currentlyEditing = event.id
      },


      makeChart() {
        this.Dcatcnt=Object.assign([],[]);
      this.Wcatcnt=Object.assign([],[]);
      this.Mcatcnt=Object.assign([],[]);
      var catlength;
          http.get('/category/searchAll').then(response => {
              this.categories=response.data.data
              catlength  = this.categories.length;
              for (let index = 0; index < catlength; index++) {

                http.get('/post/searchKeywordandCategory/'+this.dayevents[0].id+'/'+this.categories[index].category
                ).then(response =>{
                  if(this.dayevents[0].section==1){//day
                    this.Dcatcnt.push({
                      keyword: this.dayevents[0].name,
                      name: this.categories[index].category,
                      start: this.dayevents[0].start,
                      end: this.dayevents[0].end,
                      cnt: response.data.data,
                    })
                    }else if(this.dayevents[0].section==2){//week
                      this.Wcatcnt.push({
                        keyword: this.dayevents[0].name,
                        name: this.categories[index].category,
                        start: this.dayevents[0].start,
                        end: this.dayevents[0].end,
                        cnt: response.data.data,
                      })
                    }else if(this.dayevents[0].section==3){//month
                      this.Mcatcnt.push({
                        keyword: this.dayevents[0].name,
                        name: this.categories[index].category,
                        start: this.dayevents[0].start,
                        end: this.dayevents[0].end,
                        cnt: response.data.data,
                      })
                    }
                })

                http.get('/post/searchKeywordandCategory/'+this.dayevents[1].id+'/'+this.categories[index].category
                ).then(response =>{
                    if(this.dayevents[1].section==1){//day
                    this.Dcatcnt.push({
                      keyword: this.dayevents[1].name,
                      name: this.categories[index].category,
                      start: this.dayevents[1].start,
                      end: this.dayevents[1].end,
                      cnt: response.data.data,
                    })
                    }else if(this.dayevents[1].section==2){//week
                      this.Wcatcnt.push({
                        keyword: this.dayevents[1].name,
                        name: this.categories[index].category,
                        start: this.dayevents[1].start,
                        end: this.dayevents[1].end,
                        cnt: response.data.data,
                      })
                    }else if(this.dayevents[1].section==3){//month
                      this.Mcatcnt.push({
                        keyword: this.dayevents[1].name,
                        name: this.categories[index].category,
                        start: this.dayevents[1].start,
                        end: this.dayevents[1].end,
                        cnt: response.data.data,
                      })
                    }
                })

               http.get('/post/searchKeywordandCategory/'+this.dayevents[2].id+'/'+this.categories[index].category
                ).then(response =>{
                    if(this.dayevents[2].section==1){//day
                    this.Dcatcnt.push({
                      keyword: this.dayevents[2].name,
                      name: this.categories[index].category,
                      start: this.dayevents[2].start,
                      end: this.dayevents[2].end,
                      cnt: response.data.data,
                    })
                    }else if(this.dayevents[2].section==2){//week
                      this.Wcatcnt.push({
                        keyword: this.dayevents[2].name,
                        name: this.categories[index].category,
                        start: this.dayevents[2].start,
                        end: this.dayevents[2].end,
                        cnt: response.data.data,
                      })
                    }else if(this.dayevents[2].section==3){//month
                      this.Mcatcnt.push({
                        keyword: this.dayevents[2].name,
                        name: this.categories[index].category,
                        start: this.dayevents[2].start,
                        end: this.dayevents[2].end,
                        cnt: response.data.data,
                      })
                    }
     
                })
              }
              
              }).catch(error=>{
          })
      },
      Daychart ({ date }) {
        this.dayevents=Object.assign([],[]);
        for (let i = 0; i < this.events.length; i++) {
          if(this.events[i].start<=date && this.events[i].end>=date){
            this.dayevents.push({
              id: this.events[i].id,
              name: this.events[i].name,
              start: this.events[i].start,
              end: this.events[i].end,
              section: this.events[i].section,
              post_cnt: this.events[i].post_cnt,
            })
            //  this.dayevents =this.events[i];
          }
        }

        if(this.dayevents.length<3){
          this.InsertKeyword(date);
          this.Insertdialog = true;
        }else{
          this.makeChart();
          this.dialog = true;
        }
        
      },
      getEventColor (event) {
        return event.color
      },
      setToday () {
        this.focus = this.today
      },
      prev () {
        this.$refs.calendar.prev()
      },
      next () {
        this.$refs.calendar.next()
      },

      showEvent ({ nativeEvent, event }) {
        const open = () => {
          this.selectedEvent = event
          this.Keywordcnt=Object.assign([],[]);
          http.get('/category/searchAll').then(response => {
            this.categories=response.data.data
            var catlength  = this.categories.length;
            for (let index = 0; index < catlength; index++) {
              http.get('/post/searchKeywordandCategory/'+this.selectedEvent.id+'/'+this.categories[index].category)
              .then(response =>{
                this.Keywordcnt.push({
                  name: this.categories[index].category,
                  cnt: response.data.data,
                })
              })
            }
          })
          this.selectedElement = nativeEvent.target
          setTimeout(() => this.selectedOpen = true, 10)
        }
        if (this.selectedOpen) {
          this.selectedOpen = false
          setTimeout(open, 10)
        } else {
          open()
        }

        nativeEvent.stopPropagation()
      },
         updateKeyword(event){
        http
          .put("/keyword/update", {
            keyword_no: event.id,
            keyword: event.name,
            section: event.section,
            post_date: event.start,
            end_date: event.end,
          })
          .then(response => {
            if (response.data.state == "ok") {
            } else {
              alert("수정 실패");
            }
          })
          .catch((error) => {
            alert("error: " + error.message);
          });

        this.currentlyEditing = null;
        this.selectedOpen = false;
      },
      deleteKeyword(event){
        http
          .delete('/keyword/delete',{
            params:{keyword_no: event.id}
          })
          .then(response => {
            if (response.data.state == "ok") {
              alert("키워드 삭제 완료");
            } else {
              alert("삭제 실패");
            }
          })
          .catch((error) => {
            alert("error: " + error.message);
          });
        
        this.currentlyEditing = null;
        this.selectedOpen = false;

      },
      InsertKeyword (date) {
        this.focus = date
        this.Insertdialog = true
      },
      getEvents({start, end}){
        const events = []
        const eventCount = this.keywordList.length;
        for (let i = 0; i < eventCount; i++) {
            events.push({
              id: this.keywordList[i].keyword_no,
              name: this.keywordList[i].keyword,
              start: this.keywordList[i].post_date,
              end: this.keywordList[i].end_date,
              section: this.keywordList[i].section,
              color: this.colors[this.keywordList[i].section],
              post_cnt: this.keywordList[i].post_cnt,
            })
        }

        this.start = start
        this.end = end
        this.events = events
      },
      
      formatDate (a, withTime) {
        return withTime
          ? `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()} ${a.getHours()}:${a.getMinutes()}`
          : `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()}`
      },
    },
  }
</script>
<style scoped>
.center{
  text-align: center;
}
.v-dialog > .v-card > .v-app-bar {
  position: sticky;
  top: 0;
  z-index: 999;
}
</style>