<template>
  <v-card>
    <v-app-bar class="indigo" style="opacity: 0.6" flat>
      <h3 style="margin: 0;">키워드 추가</h3>
      <v-spacer />
      <hr>
      <v-card-actions>
        <v-icon large dark @click="close">
          mdi-close-circle-outline
        </v-icon>
      </v-card-actions>
    </v-app-bar>
    <v-container fill-height>
      <v-row class="mx-2 align-center justify-space-between">
        <!-- 시작날짜 -->
        <v-col cols="4">
          <v-menu
              ref="startMenu"
              v-model="startMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="startDate"
              transition="scale-transition"
              min-width="290px"
              offset-y
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                  v-model="startDate"
                  class="mt-3"
                  label="Start Date"
                  prepend-icon="event"
                  dense
                  readonly
                  outlined
                  hide-details
                  v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="startDate" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="startMenu = false">Cancel </v-btn>
              <v-btn text  color="primary" @click="$refs.startMenu.save(startDate)"> OK</v-btn>
            </v-date-picker>
          </v-menu>             
        </v-col>
        <!-- 끝 날짜 -->
        <v-col cols="4">
            <v-menu
                ref="endMenu"
                v-model="endMenu"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="endDate"
                transition="scale-transition"
                min-width="290px"
                offset-y
            >
              <!-- <template v-slot:activator="{ on }">
                <v-text-field
                    v-model="endDate"
                    class="mt-3"
                    label="End Date"
                    prepend-icon="event"
                    dense
                    readonly
                    outlined
                    hide-details
                    v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="endDate" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="endMenu = false"> Cancel </v-btn>
                <v-btn text color="primary" @click="$refs.endMenu.save(endDate)" > OK </v-btn>
              </v-date-picker> -->
            </v-menu>
        </v-col>
        <!-- 섹션 -->
        <v-col cols="4">
          <v-select
            v-model="section"
            :items="sectionOptions"
            label="Section"
            prepend-icon="sort"
            hide-details
            outlined
            dense
          ></v-select>
        </v-col>
        <!-- 키워드 -->
        <v-col cols="12">
          <v-text-field v-model="keyword" prepend-icon="mdi-format-title" placeholder="Keyword(키워드)" />
        </v-col>
        <v-col cols="12">
          <!-- <v-file-input multiple accept="image/jpeg" label="File Upload" @change="detectFiles($event.target.files)"/> -->
          <!-- <input type="file" multiple accept="image" @change="detectFiles($event.target.files)"> -->
          <span class="progress-bar" :style="{ width: progressUpload + '%'}">{{ progressUpload }}%</span>
            <file-pond
              name="test"
              ref="pond"
              label-idle="Drop files here..."
              v-bind:server="myServer"
              v-bind:files="myFiles"
              v-on:init="handleFilePondInit()"
              acceptedFileTypes='image/*'
              />
              <!-- allow-multiple="true" -->
        </v-col>

      </v-row>
    </v-container>

    <v-card-actions>
      <v-spacer />
      <v-btn text color="yellow" @click="up">파일 업로드</v-btn>
      <v-btn text color="indigo" @click="insertKeyword">추가</v-btn>
    </v-card-actions>
  </v-card>
</template>


<script>
import http from '@/services/http-common'
import Constant from '@/Constant';
import firebase from 'firebase';
import { storage } from 'firebase';

// Import Vue FilePond
import vueFilePond from 'vue-filepond';
// Import FilePond styles
import 'filepond/dist/filepond.min.css';
// Import FilePond plugins
// Please note that you need to install these plugins separately
// `npm i filepond-plugin-image-preview filepond-plugin-image-exif-orientation --save`
import FilePondPluginImageExifOrientation from 'filepond-plugin-image-exif-orientation';
import FilePondPluginImagePreview from 'filepond-plugin-image-preview';
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';

// Create component
const FilePond = vueFilePond(
  FilePondPluginImageExifOrientation,
  FilePondPluginImagePreview
);

var uploadFile;

  export default {
    name: 'insertKeyword',
    props: [
		  'startDate'
    ],
    data(){
        return{
            startMenu: false,
            endMenu: false,
            //startDate: '',
            endDate: '',//Daily
            WendDate: '',//Weekly
            MendDate: '',//Monthly
            keyword:'',
            section:'',
            img:'',
            sectionOptions: [
                { text: 'Daily', value: '1' },
                { text: 'Weekly', value: '2' },
                { text: 'Monthly', value: '3' },
            ],
            newItem:{},
            file: File,
            uploadTask: "",
            progressUpload: 0,
            myServer: {
              process: (fieldName, file, metadata, load) => {
                uploadFile = file;
                // simulates uploading a file
                setTimeout(() => {
                  load(Date.now())
                }, 1500);
              },
              load: (source, load) => {
                // simulates loading a file from the server
                fetch(source).then(res => res.blob()).then(load);
              }
            },
            myFiles: []
        }
    },

    computed: {  

    },
    mounted () {
      
    },

    methods: {
        insertKeyword(){
            
            if(this.section==1){//Daily 등록
            this.endDate = this.startDate;
              http
              .post("/keyword/insert", {
                  keyword : this.keyword,
                  post_date: this.startDate,
                  end_date: this.endDate,
                  section: this.section,
                  img: this.img
              })
              .then(response => {
                if (response.data.state == "ok") {
                    //성공했으면
                    location.reload();              
                } else {
                    alert("입력 실패");
                }
              })
              .catch((error) => {
              alert("error: " + error.message);
              });
            }else if(this.section==2){//Weekly 등록
            this.WendDate = this.$moment(this.startDate).add(6,'days').format("YYYY-MM-DD");
              http
              .post("/keyword/insert", {
                  keyword : this.keyword,
                  post_date: this.startDate,
                  end_date: this.WendDate,
                  section: this.section,
                  img: this.img
              })
              .then(response => {
                if (response.data.state == "ok") {
                    //성공했으면
                    location.reload();              
                } else {
                    alert("입력 실패");
                }
              })
              .catch((error) => {
              alert("error: " + error.message);
              });
            }else if(this.section==3){//Monthly 등록
            this.MendDate = this.$moment(this.startDate).add(1,'month').subtract(1,'days').format("YYYY-MM-DD");
              http
              .post("/keyword/insert", {
                  keyword : this.keyword,
                  post_date: this.startDate,
                  end_date: this.MendDate,
                  section: this.section,
                  img: this.img
              })
              .then(response => {
                if (response.data.state == "ok") {
                    //성공했으면
                    location.reload();              
                } else {
                    alert("입력 실패");
                }
              })
              .catch((error) => {
              alert("error: " + error.message);
              });
            }
            


            this.close()
        },
        up() {
          this.upload(uploadFile);
        },
        upload (file) {
          var date = new Date(); var year = date.getFullYear();
          var month = date.getMonth() + 1; if(month<10) month = '0' + month;
          var day = date.getDate(); if(day<10) day = '0' + day;
          var hour = date.getHours(); var minute = date.getMinutes(); var second = date.getSeconds();
          var fileName = year + month + day + hour + minute + second + '_' + '_' + file.name;

          this.uploadTask = firebase.storage().ref(fileName).put(file);
        },
        handleFilePondInit() {
        },
        close(){
          this.$emit('close');
        }
      
    },
      watch: {
    uploadTask: function() {
      this.uploadTask.on('state_changed', sp => {
        this.progressUpload = Math.floor(sp.bytesTransferred / sp.totalBytes * 100)
      }, 
      null, 
      () => {
        this.uploadTask.snapshot.ref.getDownloadURL().then(downloadURL => {
          this.$emit('url', downloadURL)
          this.img = downloadURL;
        })
      })
    }
  },
  components: {
    FilePond
  }
  }
</script>