<!-- calendar origin-->

<template>
<div>

  <v-row class="fill-height">
    
    <v-col>
      <v-sheet height="64">
        <v-toolbar flat color="white">
          <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
            Today
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="prev">
            <v-icon small>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small>mdi-chevron-right</v-icon>
          </v-btn>
          <v-toolbar-title>{{ titleDate }}</v-toolbar-title>
          <v-spacer></v-spacer>       
        </v-toolbar>
      </v-sheet>

     <!--달력-->  
      <v-sheet height="600">
        <v-calendar
          ref="calendar"
          v-model="focus"
          color="primary"
          :events="events"
          :event-color="getEventColor"
          :now="today"
          :type="type"
          @click:event="showEvent"
          @click:date="InsertKeyword"
          @change="getEvents"
        ></v-calendar>

        <!--해당 일정 클릭--> 
        <v-menu
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          offset-x
        >
          <v-card
            color="grey lighten-4"
            min-width="350px"
            flat
          >
            <v-toolbar
              :color="selectedEvent.color"
              dark
            >
              <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon v-if="currentlyEditing !== selectedEvent.id"
                @click.prevent="editKeyword(selectedEvent)">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-btn icon @click="deleteKeyword(selectedEvent)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text>
              <form v-if="currentlyEditing !== selectedEvent.id">
                {{selectedEvent.name}}
              </form>
              <form v-else>
                <textarea v-model="selectedEvent.name">
                </textarea>
              </form>
            </v-card-text>
            <v-card-actions>
              <v-btn text color="secondary" @click="selectedOpen = false"> 닫기</v-btn>
              <v-btn text 
                v-if="currentlyEditing === selectedEvent.id"
                @click.prevent="updateKeyword(selectedEvent)"> 저장</v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
      </v-sheet>
    </v-col>
  </v-row>


<!-- 키워드 삽입 다이얼로그 -->
  <v-dialog v-model="dialog">
    <InsertKeyword 
      v-bind:startDate="focus"
      v-on:close="closeDialog"
    ></InsertKeyword>
  </v-dialog>

</div>
</template>


<script>
import http from '@/services/http-common'
import Constant from '@/Constant';

import InsertKeyword from './InsertKeyword';

  export default {
    name: 'keywordList',
    components: {
        InsertKeyword
    },
    data: () => ({
      today: new Date().toISOString().substr(0,10),
      focus: '',
      type: 'month',
      start: null,
      end: null,

      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      events: [],

      colors: ['','blue', 'green', 'orange'],

      currentlyEditing: null,
    
      keywordList:[],

      dialog: false,

      editedIndex:-1,
    }),

    created() {
      this.getKeyword();
    },

  
    mounted () {
      this.$refs.calendar.checkChange()
      //this.$refs.calendar.getVisibleEvents()
      //this.getKeyword();
    },

    methods: {
      closeDialog(){
        this.dialog = false;
      },
      InsertKeyword ({ date }) {
        this.focus = date
        this.dialog = true
      },
      getEventColor (event) {
        return event.color
      },
      setToday () {
        this.focus = this.today
      },
      prev () {
        this.$refs.calendar.prev()
      },
      next () {
        this.$refs.calendar.next()
      },

      showEvent ({ nativeEvent, event }) {
        const open = () => {
          this.selectedEvent = event
          this.selectedElement = nativeEvent.target
          setTimeout(() => this.selectedOpen = true, 10)
        }

        if (this.selectedOpen) {
          this.selectedOpen = false
          setTimeout(open, 10)
        } else {
          open()
        }

        nativeEvent.stopPropagation()
      },
      editKeyword(event){
        this.currentlyEditing = event.id
      },
      updateKeyword(event){
        http
          .put("/keyword/update", {
            keyword_no: event.id,
            keyword: event.name,
            section: event.section,
            post_date: event.start,
            end_date: event.end,
          })
          .then(response => {
            if (response.data.state == "ok") {
            } else {
              alert("수정 실패");
            }
          })
          .catch((error) => {
            alert("error: " + error.message);
          });

        this.currentlyEditing = null;
        this.selectedOpen = false;
      },

      deleteKeyword(event){
        http
          .delete('/keyword/delete',{
            params:{keyword_no: event.id}
          })
          .then(response => {
            if (response.data.state == "ok") {
              this.editedIndex = this.events.indexOf(event)
              alert("키워드 삭제 완료",this.editedIndex);
              this.getKeyword()
              location.reload()
            } else {
              alert("삭제 실패");
            }
          })
          .catch((error) => {
            alert("error: " + error.message);
          });
        
        this.currentlyEditing = null;
        this.selectedOpen = false;
      },

      getKeyword(){
        try {
          http.get('/keyword/searchAll')
              .then(response => {
                this.keywordList=response.data.data
                this.getEvents(this.start, this.end)
                
              })
              .catch(error=>{
          })
        }catch (error) {
        }

      },

      getEvents({start, end}){
        const events = []
        
        const eventCount = this.keywordList.length;
        for (let i = 0; i < eventCount; i++) {
          //if(this.keywordList[i].post_date>=start.date && this.keywordList[i].end_date<=end.date){
            events.push({
              id: this.keywordList[i].keyword_no,
              name: this.keywordList[i].keyword,
              start: this.keywordList[i].post_date,
              end: this.keywordList[i].end_date,
              section: this.keywordList[i].section,
              color: this.colors[this.keywordList[i].section]
            })
          //}
          
        }

        this.start = start
        this.end = end
        this.events = events
      },
      
    },

    computed: {
      titleDate () {
        const { start, end } = this
        if (!start || !end) {
          return ''
        }

        const startMonth = this.monthFormatter(start)
        const endMonth = this.monthFormatter(end)
        const suffixMonth = startMonth === endMonth ? '' : endMonth

        const startYear = start.year
        const endYear = end.year
        const suffixYear = startYear === endYear ? '' : endYear

        const startDay = start.day + "일"
        const endDay = end.day + "일"

        switch (this.type) {
          case 'month':
            return `${startMonth} ${startYear}년`
          case 'day':
            return `${startMonth} ${startDay} ${startYear}년`
        }
        return ''
      },
      monthFormatter () {
        return this.$refs.calendar.getFormatter({
          timeZone: 'UTC', month: 'long',
        })
      },

    },

  }
</script>