<template>
<div>

  <v-spacer></v-spacer>
  <!-- 검색창 -->
  <v-text-field
    v-model="search"
    append-icon="search"
    label="Search"
    single-line
    hide-details
  ></v-text-field>
  <!-- 회원 리스트 -->
  <v-data-table
    :headers="headers"
    :items="userList"
    :items-per-page="10"
    :search="search"
    class="elevation-1"
  >
    <template v-slot:item.live="{ item }">
      {{item.live}}
      <v-icon small class="mr-2" @click="editItem(item)"> 변경 </v-icon>
    </template>
    

  </v-data-table>


  <!-- 수정 다이얼로그창 -->
    <v-dialog
      v-model="dialog"
      max-width="800"
    >
      <v-card>
        <v-card-title class="headline">권한 수정</v-card-title>

        <v-card-text>
          <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field readonly v-model="editedItem.user_email" label="email"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field readonly v-model="editedItem.nickname" label="nickname"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                      <v-select
                        v-model="editedItem.live"
                        :items="liveOptions"
                        label="권한"
                        hide-details
                        outlined
                        dense
                    ></v-select>
                  </v-col>
                </v-row>
              </v-container>
        
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">취소</v-btn>
              <v-btn color="blue darken-1" text @click="saveChange">저장</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


  </div>
</template>

<script>
import http from '@/services/http-common'
import Constant from '@/Constant';


export default {
    name: 'UserList',
   	data() {
		return {
      headers: [
        //  { text: 'No.',     value: 'post_no',  align: 'left',  sortable: false, filterable: false,},
          { text: '이메일',  value: 'user_email' },
          { text: '닉네임',  value: 'nickname' },
          { text: '등록일',  value: 'reg_date' },
          { text: '권한',    value: 'live' },
        ],
      userList: [],
      search: '',

      dialog: false,
      editedIndex: -1,
      editedItem: {},
      defaultItem:{},
      liveOptions: [
                { text: '회원', value: 'Y' },
                { text: '탈퇴', value: 'N' },
                { text: '관리자', value: 'AD' },],
		}
	},
    
    created() {
        this.getUsers();
    },

    methods:{
      editItem (item) {
        this.editedIndex = this.userList.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },
      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      saveChange(){
        http
          .put("/user/updateLive", {
              user_email : this.editedItem.user_email,
              live: this.editedItem.live,
          })
          .then(response => {
            if (response.data.state == "ok") {
                //수정 성공했으면 userList update
                Object.assign(this.userList[this.editedIndex], this.editedItem)
            } else {
                alert("입력 실패");
            }
          })
          .catch((error) => {
            alert("error: " + error.message);
          });

        this.close()

      },

      getUsers(){
        try {
            http.get('/user/searchAll').then(response => {
                this.userList=response.data.data
                }).catch(error=>{
            })
        }catch (error) {
        }
      },
    }


}

</script>
<style>
  .mw-700 {
    max-width: 700px;
    margin: auto;
  }
</style>


