<template>
  <v-container>
    <AboutUsDetail/>
  </v-container>
</template>

<script>

import AboutUsDetail from '../components/AboutUsDetail.vue'
export default {
  
  components: {
    AboutUsDetail
  }
  
}
</script>

<style>

</style>