
<template>
<div>

  <v-container>
	  <br/>
	  <br/>
	<v-tabs background-color="white" color="deep-purple accent-4" class="headline" v-model="tabs" centered>
		<v-tab>게시글 관리</v-tab>
		<v-tab>회원 관리</v-tab>
	</v-tabs>
	<v-tabs-items v-model="tabs">
        <v-tab-item>
			<!-- <h2>게시글 관리</h2> -->
			<DashboardCalcList></DashboardCalcList>
		</v-tab-item>
        <v-tab-item>
			<!-- <h2>회원 목록</h2> -->
		    <UserList></UserList>
		</v-tab-item>
    </v-tabs-items>

  </v-container>
</div>
</template>

<script>
import UserList from '../components/AdminComponents/UserList'
import KeywordList from '../components/AdminComponents/KeywordList'
import DashboardCalcList from '../components/AdminComponents/DashboardCalcList'


export default {
	name: 'HomePage',
	components: {
		UserList,
		KeywordList,
		DashboardCalcList
	},
	data(){
		return{
			tabs:0
		}
	},
	methods: {
		getImgUrl(img) {
			return require('../assets/' + img)
		}
	},
}
</script>
