<template>
  <div>
  <v-container>
          <DashboardAll></DashboardAll>
  </v-container>
  </div>
</template>

<script>
import DashboardList from '../components/Dashboard/DashboardList'
import DashboardAll from '../components/Dashboard/DashboardAll'

export default {
  name: 'DashboardPage',
	components: {

		DashboardList,
    DashboardAll,
  },
   data(){
    return{
      changeHost:this.$store.state.hostEmail,
      isFollowed: true,
      defaultTab:0
    }
  },
    created(){
      if (this.$session.get('user')!=undefined) {
        this.$store.state.hostEmail = this.$session.get('user').email
      }
  },

}

</script>
