
<template>
<div style="width 100%">
  <Keyword ></Keyword>
  </div>
</template>

<script>
import Keyword from '../components/Keyword'
import Clock from '../components/Clock'


export default {
	name: 'HomePage',
	components: {
		Keyword,
		Clock,

	},
	methods: {
		getImgUrl(img) {
			return require('../assets/' + img)
		}
	},
}
</script>
