<template>
  <div class="login">
    <h3>Login</h3>
    <input type="text" v-model="email" placeholder="email" />
    <br />
    <input type="password" v-model="password" placeholder="password" />
    <br />
    <button v-on:click="login">로그인</button>
    <button v-on:click="loginGoogle">google 로그인</button>
    <button v-on:click="loginFacebook">facebook 로그인</button>
    <p>
      만약 계정이 없다면,
      <router-link to="/signup">회원가입</router-link>을 먼저 진행해주세요!
    </p>
  </div>
</template>

<script>
import firebase from "firebase";
import router from "vue-router";

export default {
  name: "LoginPage",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    login() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(
          user => {
            this.$session.set("user", user);
            this.$router.replace("/");
            location.reload();
            alert("로그인 완료!");
          },
          function(err) {
            alert("에러: " + err.message);
          }
        );
    },
    loginGoogle() {
      var googleProvider = new firebase.auth.GoogleAuthProvider();
      firebase
        .auth()
        .signInWithPopup(googleProvider)
        .then(function(result) {
          alert("로그인 완료!");
        })
        .catch(function(error) {
          alert("로그인에 실패하였습니다");
          console.error("구글 로그인 과정 에러", error);
        });
    },
    loginFacebook() {
        var facebookProvider = new firebase.auth.FacebookAuthProvider();
        firebase
        .auth()
        .signInWithPopup(facebookProvider)
        .then(function(result) {
            alert("로그인 완료!");
        })
        .catch(function(error) {
            alert("로그인에 실패하였습니다");
            console.error("페이스북 로그인 과정 에러", error);
        });
    }
  }
};
</script>

<style scoped>
.login {
  margin-top: 40px;
}
input {
  margin: 10px 0;
  width: 20%;
  padding: 15px;
}
button {
  margin-top: 20px;
  width: 10%;
  cursor: pointer;
}
p {
  margin-top: 40px;
  font-size: 15px;
}
p a {
  text-decoration: underline;
  cursor: pointer;
}
</style>