<template>
  <v-container>
    <!-- 웹 화면에서 설정-->
    <v-layout row wrap class="d-none d-sm-flex">
      <v-flex xs4 class="mx-auto">
        <ProfileCard v-bind:hostEmail="changedHost" :isFollowed="isFollowed" :isMypage="isMypage"/>
      </v-flex>
      <v-divider xs1 vertical class="mx-auto" />
      <v-flex xs7 class="mx-auto">
        <MypageDetails v-bind:hostEmail="changedHost" :tab="defaultTab"/> 
      </v-flex>
    </v-layout>
<!-- 모바일 화면에서 설정-->
      <v-layout row wrap class="d-flex d-sm-none">
      <v-flex xs12 class="mx-auto">
        <ProfileCard v-bind:hostEmail="changedHost" :isFollowed="isFollowed" :isMypage="isMypage"/>
      </v-flex>
      <v-divider xs12 row class="mx-auto" />
      <v-flex xs12 class="mx-auto">
        <MypageDetails v-bind:hostEmail="changedHost" :tab="defaultTab"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import ProfileCard from '@/components/MyPageDetail/ProfileCard'
import MypageDetails from '@/components/MyPageDetail/MypageDetails'
import {bus} from '@/eventbus'
import store from "../store"
export default {
  components: {
    ProfileCard,
    MypageDetails
  },
  data(){
    return{
      changeHost:this.$store.state.hostEmail,
      isFollowed: true,
      defaultTab:0
    }
  },
  created(){
    this.$store.state.hostEmail = this.$session.get('user').email
  },
  computed:{
    changedHost(){
      if(this.$store.state.hostEmail==this.$session.get('user').email){
        this.isMypage = true
      }else{
        this.isMypage = false
      }
      return this.$store.state.hostEmail;
    }
  },


}
</script>

<style>

</style>