<template>
  <div class="sign-up">
    <!-- <form action="" method="post" id="_frmForm" name="frmForm"  @submit.prevent='addUser'> -->
    <p>회원가입</p>
    <input type="text" v-model="user.user_email" placeholder="이메일 입력" />
    <br />
    <input type="password" v-model="user.pw" placeholder="비밀번호 입력" />
    <br />
    <input type="password" v-model="user.pwCheck" placeholder="비밀번호 확인" />
    <br />
    <input type="text" v-model="user.nickname" placeholder="별명 입력" />
    <br />

    <button v-on:click="checkAll" type="submit" name="button">가입하기</button>
    <span>
      또는
      <router-link to="/login">로그인</router-link>으로 돌아가기
    </span>
    <!-- </form> -->
  </div>
</template>

<script>
import firebase from "firebase";
import http from "@/services/http-common";

export default {
  name: "SignUpPage",
  data() {
    return {
      user: {
        user_email: "",
        pw: "",
        pwCheck: "",
        name: "",
        nickname: ""
      }
    };
  },
  methods: {
        checkAll() {
        if (!checkMail(this.user.user_email)) {
            return;
        }
        if (!checkPassword(this.user.pw, this.user.pwCheck, this.user.user_email, this.user.nickname)) {
            return;
        }
        if (!checkName(this.user.nickname)) {
            return;
        }
        firebase
          .auth()
          .createUserWithEmailAndPassword(this.user.user_email, this.user.pw)
          .then(
            user => {
              http
                .post("/user/addUser/", {
                  user_email: this.user.user_email,
                  nickname: this.user.nickname
                })
                .then(response => {
                  if (response.data.state == "ok") {
                    alert("회원가입 완료");
                    location.href = "/";
                  } else {
                    alert("등록 실패");
                  }
                })
                .catch((error) => {
                  alert("error: " + error.message);
                });
            }
            ,
            function(err) {
              alert("에러: " + err.message);
            })
    },
 
  }
  
};


// 공백확인 함수
function checkExistData(value, dataName) {
    if (value == "") {
        alert(dataName + " 입력해주세요!");
        return false;
    }
    return true;
}

function checkPassword(pw, pwCheck, email, nickname) {
    //비밀번호가 입력되었는지 확인하기
    if (!checkExistData(pw, "비밀번호를"))
        return false;
    
    var password1RegExp = /^[a-zA-z0-9]{6,12}$/; //비밀번호 유효성 검사
    if (!password1RegExp.test(pw)) {
        alert("비밀번호는 영문 대소문자와 숫자 6~12자리로 입력해야합니다!");

        return false;
    }

    //비밀번호 확인이 입력되었는지 확인하기
    if (!checkExistData(pwCheck, "비밀번호 확인을"))
        return false;

    //비밀번호와 비밀번호 확인이 맞지 않다면..
    if (pw != pwCheck) {
        alert("두 비밀번호가 맞지 않습니다.");
        return false;
    }

    //이메일과 비밀번호가 같을 때..
    if (email == pw) {
        alert("이메일과 비밀번호는 같을 수 없습니다!");
        return false;
    }

    //닉네임과 비밀번호가 같을 때..
    if (nickname == pw) {
        alert("닉네임과 비밀번호는 같을 수 없습니다!");
        return false;
    }
    return true; //확인이 완료되었을 때
};
 
function checkMail(mail) {
    //mail이 입력되었는지 확인하기
    if (!checkExistData(mail, "이메일을"))
        return false;

    var emailRegExp = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;
    if (!emailRegExp.test(mail)) {
        alert("이메일 형식이 올바르지 않습니다!");
        return false;
    }
    return true; //확인이 완료되었을 때
};

function checkName(nickname) {
    if (!checkExistData(nickname, "이름을"))
        return false;

    var nameRegExp = /^[가-힣A-Za-z0-9]{2,8}$/;
    if (!nameRegExp.test(nickname)) {
        alert("이름이 올바르지 않습니다.");
        return false;
    }
    return true; //확인이 완료되었을 때
};
 
</script>

<style scoped>
.signUp {
  margin-top: 40px;
}
input {
  margin: 10px 0;
  width: 20%;
  padding: 15px;
}
button {
  margin-top: 20px;
  width: 10%;
  cursor: pointer;
}
p {
  margin-top: 40px;
  font-size: 20px;
}
span {
  display: block;
  margin-top: 20px;
  font-size: 15px;
}
</style>