
<template>
<a>
    <div class="welcome" @click="home">
    <p id="title">Cre8or</p>
    </div>
</a>
</template>

<script>
export default {
methods: {
        home() {
        this.$router.push("/home");
        // location.reload();
      },
    }
}
</script>
<style>
.welcome {
    height: 100%;
    width: 100%;
    display: table;
    background-image: url(../assets/Welcome.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}
#title{
    text-align: center;
    font-size: 20vw;
    font-family: 'Jua', sans-serif;
    color: aliceblue;
    display: table-cell;
    vertical-align: middle;
}

</style>
